[2021-01-05 18:37] mariotaku opened #1 "Provide monitor position adjustment"
Related to https://github.com/moonlight-stream/moonlight-common-c/issues/49 .
When multiple monitors connected, get position of primary monitor in the virtual "canvas" of multiple monitors combined, and transform mouse location.

[2021-01-05 18:40] mariotaku opened #2 "Better absolute mouse input handling"
When user performs drag, use relative movement, when user taps, use absolute position for mouse.

[2021-01-06 17:16] mariotaku opened #3 "Refresh server status automatically, and after streaming session"

[2021-01-07 15:47] mariotaku opened #4 "Wrong keyboard event on webOS"

[2021-01-10 09:55] mariotaku opened #5 "NetCast compatibility version"
## What was done
- [x] Main loop
- [x] A/V dec
- [ ] Input Event

## Confirmed to be working on
- [ ] NetCast 4
- [ ] webOS 2
- [x] webOS 3
- [x] webOS 4
- [ ] webOS 5

[2021-01-10 09:56] mariotaku opened #6 "UI for TV"
- [x] Correct element size
- [x] Gamepad/Remote navigation
  - [x] Press back to quit in game
  - [x] Press back to close settings
  - [x] Press back to quit app
    - [x] Handle cases when dialog/popup opened
  - [x] Button focusing for dialog
  - [x] Better games list navigation
    - [x] DPAD select
    - [x] Better highlight
    - [x] Scroll the list when item selected
  - [x] Menu button to o

[2021-01-13 18:52] mariotaku commented on #3
Refresh server status: https://github.com/mariotaku/moonlight-tv/commit/c9747309096dfcaccf1d541f708faadc011853e7

[2021-01-13 18:53] mariotaku opened #7 "Try to use LGNC with SDL"

[2021-01-14 14:42] mariotaku commented on #7
Closed in b274aa57b66c349898dd258d8e545dd19ec8b6ba.

[2021-01-14 14:42] #7 closed

[2021-01-14 16:43] #3 closed

[2021-01-14 16:52] mariotaku opened #8 "Better host management"
- [x] Ensure thread safety
- [x] Make mDNS discovery run when in launcher
- [x] Update instead of insert when duplicated node discovered
- [x] Stop mDNS discovery while in game
- [x] Add offline status in server_list
- [x] Remember last selected machine?
- [x] Support adding server manually

[2021-01-15 14:06] mariotaku opened #9 "Gamepad hot plug"

[2021-01-16 18:31] Nez-debug opened #10 "Gamepad triggers stop responding after first press"
Tested this with an Xbox One S and DS4 controller, WebOS 3 - both controllers exhibit the exact same behaviour when connected via 8Bitdo Bluetooth adapter.

The first press on each trigger is recognised and then instantly becomes toggled on, i.e. if I'm firing a weapon, it continues to fire. Once it stops (after pressing many buttons), it will no longer then recognise any further inputs.

Confirme

[2021-01-17 14:02] Nez-debug opened #11 "No audio on release 0.1.0"
No stream audio on LG 55SJ810V-ZA using firmware 3.8.0-61115.

[2021-01-17 17:20] #9 closed

[2021-01-17 22:21] submatrix opened #12 "Switching TV inputs away from Moonlight webOS, then switching back, results in black screen"
The black screen seems to be an unrecoverable state. Audio still works. Pressing back on LG remote results in warning popping up telling you that stopping the stream will result in quitting the game.

Version: moonlight-tv 0.1.3
TV: LG C9 webOS 5.00.03

[2021-01-18 11:59] Nez-debug commented on #10
Issue resolved in 0.1.3 release.

[2021-01-18 11:59] #10 closed

[2021-01-18 18:26] Nez-debug opened #13 "Compatibility info"
MODEL: 43UH668V-ZA
VERSION: 3.3.4-4220

Tested at 1080p and 4K 60 FPS OK!

1440p is not working.
![16109943909157288758077558585672](https://user-images.githubusercontent.com/32144303/104951572-b5928680-59ba-11eb-8686-7227187e680c.jpg)

[2021-01-19 06:08] mariotaku commented on #13
SOPS option can be turned off by uncheck settings "Optimize game settings for streaming", then it might work for you. I'll turn SOPS off automatically when non-standard resolution selected (anything other than 720p, 1080p, 4K).

[2021-01-19 06:34] tupev opened #14 "Compatibility info - OLED55GX6LA"
Module | webOS version | Audio | Video | Max Resolution | Note
-- | -- | -- | -- | -- | --
OLED55GX6LA | 5.2.0-290904 | Working | Working | Tested 4k@60fps | Will test 4k@120hz with new monitor later.

[2021-01-19 06:44] Nez-debug commented on #13
Confirmed 1440p 60 FPS also works with SOPS off.

[2021-01-19 12:50] #12 closed

[2021-01-19 14:43] #13 closed

[2021-01-19 15:29] uraid opened #15 "Gamepad not detected"
Tested with Xbox One X and Xbox One controllers - using USB cable.
LG 55SM9000 Webos 4.5 shows 'Unknown device connected' and Moonlight SDL doesn't get their input (when trying out a game).
Tried also with TP-Link UB400 Bluetooth dongle.

Am I not connecting the controllers correctly? Thank you!

[2021-01-19 15:33] mariotaku commented on #15
Good question! I should add this to the wiki. Xbox One controllers is not a general gamepad device - which means it can't run without a proper driver. Also the wireless adapter by Microsoft is also not supported.

There's an easy way to use almost any kind of game controller, which is using some dongle like [8BitDo Wireless Adapter](https://www.8bitdo.com/wireless-usb-adapter/).

[2021-01-19 15:36] uraid commented on #15
Thank you for the quick answer :)

[2021-01-19 15:36] #15 closed

[2021-01-19 17:05] TheMasterDingo opened #16 "OLED65B6V-Z"
# Basic information

 - Device Model: OLED65B6V-Z
 - System Version: 3.3.5-4323 (dreadlocks-dharug)
 - Is Audio Working: Yes
 - Is Video Working: Perfectly 1080@60, too much latency over that
 - Is Input Working: MagicRemote works, DS4v2 works

@1080p60 works with any bitrate , but any resolution over that the latency is very high

[2021-01-19 18:04] Nez-debug opened #17 "[BUG] 0.1.5"
**Describe the bug**
If SDL is unchecked when leaving settings it closes moonlight and settings aren't saved.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings
2. Amend your settings.
3. Leave SDL unchecked
4. Click the X to exit.

**LG webOS TV (please complete the following information):**
 - Model: [43UH668V-ZA]
 - webOS version [3.3.4-4220]

[2021-01-19 19:02] mariotaku commented on #17
I missed an important step, which is closing the dialog, so I was not able to reproduce. Now it should be fixed in v0.1.7. If you think this has fixed, please let me know.

[2021-01-20 03:56] mariotaku commented on #17
Done. Fixed in 000efd0962ec51576bb3e70c39a497af33bbcac7.

[2021-01-20 03:56] #17 closed

[2021-01-20 20:29] #11 closed

[2021-01-21 02:44] mariotaku commented on #11
Oh! Is this fixed on that TV?

[2021-01-21 07:59] Nez-debug commented on #11
Yes !
TV Model: 55SJ810V-ZA
WebOS: 3.8.0-61115

Confirmed working at 1080p60

[2021-01-21 13:31] mariotaku opened #18 "Screenshots for v0.1.8"
![image](https://user-images.githubusercontent.com/830358/105356683-13330700-5c37-11eb-8768-159a2f1f19f4.png)

![image](https://user-images.githubusercontent.com/830358/105356812-3b226a80-5c37-11eb-9660-550fd96f7a0a.png)

[2021-01-21 13:41] #18 closed

[2021-01-21 14:44] Nez-debug opened #19 "Additional remote support for right-click"
Being able to right click with the LG remote or hold down the select to bring up a context menu would really enhance the experience when mstsc is used.

[2021-01-21 16:27] mariotaku commented on #19
I've thinked about this one. Long press will break dragging, what we have now are 4-colored buttons (don't know what's its name). I think I'll go with one of them.

[2021-01-21 16:29] mariotaku commented on #16
Thanks for this info. This has been added to wiki page. If you have more findings about this model, feel free to comment here.

[2021-01-21 16:29] #16 closed

[2021-01-22 17:04] Nez-debug commented on #13
Should have mentioned, gamepad (with 8bitdo BT adapter) and magic wand remote all work with this TV :)

[2021-01-23 20:17] #6 closed

[2021-01-23 20:18] #19 closed

[2021-01-24 16:35] mariotaku opened #20 "Screenshots for 0.2.0 beyond"
![image](https://user-images.githubusercontent.com/830358/105636817-60201300-5ead-11eb-80e6-601b89ebcc6f.png)

![image](https://user-images.githubusercontent.com/830358/105636856-88a80d00-5ead-11eb-9ade-918cd81cabcb.png)

[2021-01-24 16:37] #20 closed

[2021-01-24 17:41] mariotaku opened #21 "In game overlay"
An in-game overlay while in streaming providing following features:

* Streaming performance statistics
  * FPS
  * Receive time
  * Decode time
* Controller status

[2021-01-24 18:50] mariotaku opened #22 "HEVC support"
~~Hook `DILE_VDEC_DIRECT_Open` to replace fourcc to HEVC (0x43564548)~~ This approach is not working.

[2021-01-28 06:23] submatrix opened #23 "[COMPAT]OLED65C9PUA"
# Basic information

 - Device Model: OLED65C9PUA
 - System Version: 05.00.03
 - Is Audio Working: Yes
 - Is Video Working: 4K60fps, 50000 bitrate
 - Is Input Working: Remote (also tested DS4 with 8bitdo in a previous version, which worked)

Video is slightly desaturated compared to direct HDMI input on the same TV. I tested this by switching back and forth between my PC's HDMI input to TV and the

[2021-01-28 10:43] Ascorbat opened #24 "Oled65E6"
# Basic information

 - Device Model: OLED65E6
 - System Version: 05.30.95
 - Is Audio Working: Yes
 - Is Video Working: 4K 60Fps
 - Is Input Working: F710 Working

Using gamepad disables magic remote cursor.

[2021-01-28 15:27] mariotaku commented on #24
Thanks for your info! https://github.com/mariotaku/moonlight-tv/releases/tag/v0.3.0 Might work for you. To enable the cursor again, simply scroll or shake the remote like in other apps, it will appear again.

[2021-01-28 15:27] #24 closed

[2021-01-28 16:02] submatrix opened #25 "Refresh game library page every few seconds similar to official Moonlight clients"
**Is your feature request related to a problem? Please describe.**
The game library page does not appear to ever refresh itself in order to update the status of games. For example, say I am using Moonlight on another client, and I open Moonlight webOS. I see the "resume" and "exit" buttons on the game in question. I now quit Moonlight on that other client.

This also means that while I am in this

[2021-01-28 16:14] submatrix opened #26 "Only draw a border around the currently focused game in the game library"
**Is your feature request related to a problem? Please describe.**
It is currently pretty difficult to see which game is currently in focus. I suggest only drawing the border around the game currently in focus, and possibly even making the border a brighter color so it is more visible against the dark gray background.

This is what Moonlight-qt does.

**Describe the solution you'd like**
Only see

[2021-01-29 16:54] mariotaku commented on #26
Done in v0.3.1 .

[2021-01-29 16:54] #26 closed

[2021-01-29 17:26] #25 closed

[2021-01-29 17:57] submatrix commented on #23
After discussing with mariotaku, turns out I am on webOS 4.9.0.

[2021-01-31 16:20] mariotaku opened #27 "Screenshots for 3.x"
![Screenshot from 2021-02-01 01-15-12](https://user-images.githubusercontent.com/830358/106390397-9c162380-642b-11eb-948f-529e7f0d5e5e.png)
![Screenshot from 2021-02-01 01-16-45](https://user-images.githubusercontent.com/830358/106390394-9a4c6000-642b-11eb-8870-3c8c6e4a5c78.png)
![Screenshot from 2021-02-01 01-17-28](https://user-images.githubusercontent.com/830358/106390396-9b7d8d00-642b-11eb-8f3

[2021-01-31 16:32] #27 closed

[2021-01-31 17:25] #21 closed

[2021-01-31 18:31] mariotaku commented on #8
Write a known hosts file to save connected devices

[2021-01-31 22:12] submatrix opened #28 "Better navigation of menus with arrow buttons on LG remote"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to use the remote arrow buttons to navigate up to the computer selection menu and the settings menu. Similarly, when pressing back button to bring up that menu, it would be great to be able to use arrow keys to navigate the various selectable buttons.

**Describe the solution you'd like**
See above. Be able to u

[2021-02-01 21:15] inatlewski opened #29 "[COMPAT] OLED65BX3LB"
# Basic information

 - Device Model: OLED65BX3LB
 - System Version: 5.2.0-250801 (update 03.21.10)
 - Is Audio Working: No
 - Is Video Working: No
 - Is Input Working: No

Additional information:
Moonlight - Release v0.3.3
TV uses Gigabit Ethernet connection.
The application starts, pairs with my computer, and lists available games.
UI and navigation work correctly.
After starting any game, the a

[2021-02-02 01:57] mariotaku commented on #23
Thank you for your info, I'm closing this issue as it's now done. Feel free to comment if you have new findings regarding compatibility about your device.

[2021-02-02 01:57] #23 closed

[2021-02-05 16:50] #8 closed

[2021-02-07 16:20] xatornet opened #30 "[COMPAT] 55NANO916NA"
# Basic information

 - Device Model: 55NANO916NA
 - System Version: 5.2.1
 - Is Audio Working: Yes
 - Is Video Working: Yes (with HW acceleration since v0.6.0)
 - Is Input Working: Partially* (see below)

UPDATE 2: new version 0.6.0 has working HW Acceleration!!
![photo_2021-04-08_13-48-37](https://user-images.githubusercontent.com/43992639/114021728-4a49a980-9871-11eb-828e-ccd0188a9c8d.jpg)

It

[2021-02-09 03:25] mariotaku opened #31 "[COMPAT] 49UN7100PSA"
# Basic information

 - Device Model: 49UN7100PSA
 - System Version: 3.4
 - Is Audio Working: Yes (but with a little delay)
 - Is Video Working: 1080/60fps 200mb Internet and Gtx750ti
 - Is Input Working: Gamepad Xbox Controller USB

[2021-02-10 04:40] exalented opened #32 "[COMPAT] 65NANO90UNA"
# Basic information

 - Device Model: 65NANO90UNA
 - System Version: 5.2.1-2522
 - Is Audio Working: Yes (SDL Audio)
 - Is Video Working: Yes (webOS is decoding x265/hevc 10bit!)
 - Is Input Working: Yes

# Issues with this particular TV

- [X] Successful 'failed pairing'
- [X] unbinding an unknown host will crash the app
- [X] Backgrounding the app will either crash or error.
- [ ] When navigatin

[2021-02-10 05:16] mariotaku commented on #32
Is your computer discoverable? There's no way to pair manually in current version yet.

[2021-02-10 05:32] exalented commented on #32
The upnp rules are in place. Works from my Android device on the same network.

[2021-02-10 05:37] mariotaku commented on #32
OK. I'll check it later. I just broke my DevMode so I can't do TV development yet, will make manual pairing available once I'm back.

[2021-02-10 20:06] #4 closed

[2021-02-11 22:20] exalented commented on #32
Ok I've pushed the 4.3 release to the tv and I can pair and launch games(!), but when I launch a game moonlight-tv will crash out. With the game starting on the GameStream server I punch in my IP address again and press resume on the game which results in another crash. I am currently trying the other decoders.

[2021-02-12 04:28] mariotaku commented on #32
It seems that you're running latest webOS. Unfortunately current version doesn't run on webOS 5, and I'm still working on reverse engineering for that. I'll keep those similar issues opened until it's working on webOS 5.

[2021-02-12 17:27] mykol64 opened #33 "[COMPAT] OLED55CXPUA"
# Basic information

 - Device Model: OLED55CXPUA
 - System Version: 5.2.0-290904
 - Is Audio Working: N/A
 - Is Video Working: N/A
 - Is Input Working: N/A

The app initially works great and connects to my host PC without issue.
The app immediately crashes upon selecting a game, although it does launch the selected game on the host PC.
The app also sometimes crashes while scrolling.

[2021-02-12 21:40] exalented commented on #33
This might be because we're running webos 5.x . Mario has stated that work still needs to be done REing the new versions https://github.com/mariotaku/moonlight-tv/issues/32#issuecomment-777961472

[2021-02-14 10:52] mariotaku commented on #1
Added in 63e567d75ee5ce3b43f22545364a30094ae48549.

[2021-02-14 10:52] #1 closed

[2021-02-14 14:15] xatornet commented on #30
It's sadly still not working on version 0.43 :-(

[2021-02-15 05:54] mariotaku commented on #30
I think that's related to webOS 5. I'm still working on decoding video in webOS 5, please stay tuned!

[2021-02-15 06:29] #31 closed

[2021-02-16 21:18] xatornet commented on #30
Great to know. Also, awesome work. I'll keep trying each new release :-)

[2021-03-07 15:50] cybercuate opened #34 "43LM6300 working well"
# Basic information

 - Device Model: 43LM6300
 - System Version: 04.72.10
 - Is Audio Working: Yes
 - Is Video Working: Yes
 - Is Input Working: Remote control, wired mouse and keyboard, LG app through android phone

Tested on Wifi 2.4Ghz and Ethernet. Runs as it should with up to 10ms of delay over 2.4Ghz Wifi. WebOS Version is 4.5 (2019)

[2021-03-07 16:01] cybercuate opened #35 "[COMPAT] 32LK540BPSA webOS 4.3.0 (05.30.11) - Video not working"
# Basic information

 - Device Model: 32LK540BPSA
 - System Version: 05.30.11
 - Is Audio Working: Yes
 - Is Video Working: No
 - Is Input Working: Remote control, wired mouse and keyboard, LG app through android phone

Tested on Wifi 2.4Ghz and Ethernet. Image appears showing 1 frame of the PC (static image). Input works as I click on many elements in the static image and on the PC things work (l

[2021-03-11 03:20] cgutman opened #36 "Generate SHA256 client certificate"
I noticed that https://github.com/mariotaku/moonlight-tv/commit/4f674cfa716893a3c1812ee54af7af17c859f116 switched from creating a SHA256 client certificate with OpenSSL to a SHA1 client certificate with mbedTLS. SHA1 certificates are deprecated almost everywhere, so it would be a good idea to generate a SHA256 client certificate, especially because these certificates will be long-lived and require

[2021-03-11 04:40] mariotaku commented on #36
Thank you. I must be copied bad example code from somewhere. I'll change this ASAP.

[2021-03-11 12:46] #36 closed

[2021-03-14 01:20] SSchott opened #37 "[COMPAT] 49UM7000PLA"
# Basic information

 - Device Model: 49UM7000PLA
 - System Version: 5.00.15
 - Is Audio Working: yes
 - Is Video Working: yes [720p]
 - Is Input Working: TV Remote yes/Gamepad not tested

Using ethernet connection, and runs very smoothly. Thanks for the effort. Hope there is a way to keep it installed soon.

[2021-03-21 05:23] exalented commented on #32
Great news! With the v0.5.2 release this TV is working well enough to stream (I made sure to not update the TV)! Tested with a wired dualshockv1 controller. Didn't experience much latency at all. The gamestream server was running off an EVGA GTX 1080FTWv1 card within a Windows 10 KVM. Amazing work here! All boxes ticked!

[2021-03-21 20:02] xatornet commented on #30
Updated results with new version v0.5.2

[2021-03-26 12:52] admird opened #38 "[COMPAT] OLED55C9PLA"
# Basic information

 - Device Model: OLED55C9PLA
 - System Version: 4.9.0
 - Is Audio Working: Yes
 - Is Video Working: Yes, 1080p 60fps, 4K60fps
 - Is Input Working: Magic remote working, XBOX 360 Wireless dongle + Wireless gamepad working

Ethernet connection used. Works great.

[2021-03-26 13:44] robinvalk opened #39 "Webos 6 support"
**Is your feature request related to a problem? Please describe.**
I saw in the comments of #32 that you're working on supporting version 5. Do you think version 6 will be much different? I've read somewhere that the biggest difference is the UI for that release. But we don't know if the internals had a major overhaul ofcourse.

**Describe the solution you'd like**
I would love to see support for

[2021-03-27 11:10] Darwinkel opened #40 "[COMPAT] OLED55BX6LB"
# Basic information

 - Device Model: OLED55BX6LB
 - System Version: 5.2.1
 - Is Audio Working: Yes
 - Is Video Working: Yes (very slow)
 - Is Input Working: Remote works, gamepad untested.

Appears to work overall, but there is no hardware acceleration. Therefore, performance is mostly bad.

[2021-03-27 15:32] #2 closed

[2021-03-27 15:32] #5 closed

[2021-04-06 15:19] mariotaku commented on #22
Done.

[2021-04-06 15:19] #22 closed

[2021-04-06 15:20] #28 closed

[2021-04-07 12:46] robinvalk commented on #39
Hi again, so I've installed the app on the TV now. It starts up and it does discover my PC in the list. When I connect to it I do get a pair dialog on my PC where I fill in the code. All good so far 🤞!

Sometimes I get a pairing failure, sometimes I don't. Even after the pairing failure, if I close the app and reopen it again, I see my games listed. After clicking on a game I see the windows scree

[2021-04-07 17:25] mariotaku commented on #39
Hi, and thanks for trying out! Did you tried [streaming desktop only](https://github.com/moonlight-stream/moonlight-docs/wiki/Setup-Guide#using-moonlight-to-stream-your-entire-desktop)? Are you using HDR for streaming?

[2021-04-07 17:26] mariotaku commented on #30
Hardware accelerated streaming is here, feel free to try out.

[2021-04-08 07:12] robinvalk commented on #39
I'll try streaming the desktop only in the next couple of days.

I do know I did not have HDR enabled in the settings. Although I did see some HDR labels on the game posters. But I don't know if that's normal, even with the setting disabled.

[2021-04-08 07:19] mariotaku commented on #39
Issue might relevant: https://github.com/moonlight-stream/moonlight-android/issues/590
Another thing worth notice is [this message](https://discord.com/channels/352065098472488960/746259367791427636/828975800191025182)

[2021-04-08 09:35] robinvalk commented on #39
Actually my bad... As I moved my network setting in windows was set to the "public network" setting. And the firewall blocked all incoming traffic. Changed it to private network now 😂

The pairing actually succeed and it now lists the games. The UI came in a state were I couldn't click on anything using the remote, but a restart of the TV fixed that. The desktop stream and games are working now! B

[2021-04-08 09:58] mariotaku commented on #39
You can find your system version, decoder used and your system capability in Settings -> About. Also keep in mind that if bitrate is too high, unexpected things may happen.

[2021-04-08 11:41] robinvalk commented on #39
Allright here are the stats:

Version: 0.6.0
Decoder: webOS SMP
webOS version: 6.0.1
Panel resolution: 3840*2160
Refresh rate: 120

Next to 4k I also tried 1440p, with the same result.
Frame drop on 4k was more like 98% and on 1440 around 94%.

[2021-04-08 11:54] xatornet commented on #30
Tried it and updated the post. Works great now. There are still some caveats, but it is working great.

There's no codec selection, and pairing works although I get a "error pairing" at the end of it. But works fine. Also, I cannot get to any bitrate higher than 50Mbps or the app crashes and closes itself.

Other than those small issues, it works great at 60fps. Great work!!! Thanks for your time

[2021-04-08 14:00] mariotaku opened #41 "Hard limit to bitrate on some decoders"
On webOS it's 50/60 usually

[2021-04-08 18:15] Informatic opened #42 "[BUG] Release 0.6.0 & webOS 3.8 crash on startup"
**Describe the bug**
moonlight-tv crashes on startup since version 0.6.0. Release 0.5.2 seems to launch fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Install application
2. Launch from home screen
3. TV returns to last active input (app crashes)

**Expected behavior**
I would expect an app to launch properly.

**LG webOS TV (please complete the following information):**
 - Model: 43U

[2021-04-08 19:12] Informatic commented on #42
Worth noting - on release 0.5.2 in Settings → System Info following values are reported:
* Panel resolution: 0 * 0
* Refresh rate: 0
* Decoder: NetCast Legacy

[2021-04-08 20:01] roykaandorp opened #43 "Black screen[BUG]"
**Describe the bug**
When I start a stream it's connecting, after a few seconds I get a black screen. UI works perfect.
Tried different resolutions and bitrates. When I have a black screen and press exit on the remote it shows 0 network loss and the fps that's configured 30/60.

**LG webOS TV
 - Model: 75uk6200
 - webOS version 4.3.0

**Additional context**
Moonlight tv version 0.6.0
Decoder: webO

[2021-04-09 12:02] mariotaku commented on #42
Just found that there are some system functions not available on webOS 3. Will do a patch about that.

[2021-04-09 13:50] #42 closed

[2021-04-09 14:28] venbo-gt opened #44 "Segmentation fault when trying to run a game on Raspberry Pi 4"
No problems in the frontend, but when starting a game the program exits with a segmentation fault.

Steps to reproduce:
1. Open Moonlight TV.
2. Click to start or resume a game.
3. The 'Connecting' screen will be displayed briefly.
4. The program exits.

Built and tested on a Raspberry Pi 4 (2GB), in both release and debug modes.

Here's the log, not that it's got anything useful in it.

[code]

[2021-04-09 15:13] venbo-gt opened #45 "[BUG] Build Failed on Raspberry Pi 4"
**To Reproduce**
Steps to reproduce the behavior:
1. Run ```cmake .. -DTARGET_RASPI=ON```. This completes successfully.
2. Run ```make```.
3. The build fails partway through. The build log can be viewed below.

**Expected behavior**
The build completes and creates an executable.

**Build Log**
[code]

[2021-04-09 15:15] venbo-gt commented on #44
**Update**

This build was probably made with the desktop target set, instead of the pi, which might explain why it builds but doesn't launch any games.

[2021-04-09 16:14] roykaandorp commented on #43
Audio does work, just tested

[2021-04-10 00:59] ryang3d opened #46 "[COMPAT] 65SM8600PUA"
- Device Model: 65SM8600PUA
 - System Version: 4.9.0-53804
 - moonlight-tv Version: v0.6.2
 - Is Audio Working: Yes (Stereo)
 - Is Video Working: 1080p60fps (4k works but is a bit choppy)
 - Is Input Working: Magic Remote is working, Wired Xbox 360 is working

Wired in to gigabit LAN, and things seem pretty smooth at 1080p60fps. Not quite as smooth with 4k. Xbox One controller wired & wireless don

[2021-04-10 14:00] #41 closed

[2021-04-10 19:17] xatornet opened #47 "[BUG] Release not compatible with 3.22 Geforce Experience"
**Describe the bug**
Incoming Geforce Experience 3.22 (Now no beta) is not compatible. Latest Moonlight releases have been updated to support it.

**To Reproduce**
Steps to reproduce the behavior:
1. Install latest BETA GFE 3.22.xx on your PC
2. Pair your TV with GFE
3. Select a game
4. See error 500 Handshake

**Additional context**
Moonlight main project has updated PC client to support GFE 3.22

[2021-04-10 19:38] mariotaku commented on #47
Thanks! I didn't notice it has been fixed. Will update to recent core library in next release.

[2021-04-10 19:38] xatornet commented on #47
Great, thanks!!

[2021-04-10 19:39] #47 closed

[2021-04-10 22:42] #14 closed

[2021-04-10 22:42] mariotaku commented on #29
@inatlewski 0.6.x is out, it should work on webOS 5 TVs.

[2021-04-10 22:43] Jessewb786 opened #48 "[COMPAT] OLED55C8PLA"
Version WebOS: 05.30.10
Video: Doesn't Work [Black screen, also SOPS not supported @4k 60FPS]
Audio: Works
Remote: Works
Controller: Not tested

[2021-04-10 22:44] #34 closed

[2021-04-11 04:57] exalented commented on #32
I figured I'd reopen this issue rather than creat another. Few issues with this particular tv (I know some other users have mentioned similar issues):
- Successful 'failed pairing'
- unbinding an unknown host will crash the app
- when navigating the UI with a ps4 remote the app will sometimes crash (it's best to use the magic remote till this is fixed).
- Sometimes I can launch an app from within

[2021-04-11 11:14] mariotaku commented on #45
This has been fixed. For further runtime errors feel free to open a new one.

[2021-04-11 11:14] #45 closed

[2021-04-11 12:56] mariotaku commented on #32
Status update:

1 - Pairing issue done
2 - Could you please tell me more about this one? What is an unknown host?
3,4 - I'll try on mine and see
5 - Investigating

[2021-04-11 16:04] exalented commented on #32
When I open the app without pairing to a GameStream server and click the 'i' there's an option to unbind. Instead of showing ip information it says 'unknown host' (it's more of a nitpick than anything, but I thought I'd report it.

[2021-04-11 16:04] mariotaku commented on #37
Thanks for reporting! I'll be closing good compatibility reports, feel free to open if you encounter problems.

[2021-04-11 16:04] #37 closed

[2021-04-11 16:05] mariotaku commented on #32
Oh great. This is worth fixing indeed. Thanks :)

[2021-04-11 16:06] mariotaku commented on #30
Thanks for reporting! I'll be closing good compatibility reports, feel free to open if you encounter problems.

[2021-04-11 16:06] #30 closed

[2021-04-11 16:06] mariotaku commented on #38
Thanks for reporting! I'll be closing good compatibility reports, feel free to open if you encounter problems.

[2021-04-11 16:06] #38 closed

[2021-04-11 16:07] mariotaku commented on #40
Hi! Time for an update, new version introduced hardware acceleration for webOS 5 :)

[2021-04-11 16:08] mariotaku opened #49 "Surround sound"
Moonlight is almost able to handle it, but hard to test yet.

[2021-04-11 16:08] mariotaku commented on #46
Thanks for reporting! I'll be closing good compatibility reports, feel free to open if you encounter problems. For surround sound I have created a separate issue #49

[2021-04-11 16:08] #46 closed

[2021-04-11 16:15] mariotaku commented on #48
Could you provide following info:
1. webOS version and decoder in Moonlight Settings -> About

And try:
1. Lower the bitrate and resolution
2. Update to recent Moonlight versions

[2021-04-11 16:17] mariotaku commented on #39
Thanks. And other than frame drop, how's video submit time? Are they over 10ms?

[2021-04-11 16:18] mariotaku commented on #33
New version is out, might worth trying.

[2021-04-11 16:28] exalented commented on #32
Just a small report. v6.3 will not start on this tv.
It just crashes out and kicks you back to whichever app you were viewing.

[2021-04-11 16:43] mariotaku commented on #32
Can't reproduce yet. Could you execute following command:
[code]
And paste all the text here? (I believe it doesn't contain personal information. If you're worry about it, send to my email or via PM on discord)

[2021-04-11 16:49] exalented commented on #32
Sure. I'll get back to you in a few hours after I get done digging a ditch :P

[2021-04-11 16:54] mariotaku commented on #32
By the way the SDK doesn't have to be updated as long as it works, if this command doesn't work for you, please let me know.

[2021-04-11 17:08] Woedenaz commented on #40
I just tried this, launching it on my LG OLED55BX and it doesn't seem to launch at all. It blinks a black screen before switching back to my initial input. I'm pretty confident I haven't done anything wrong either.

[2021-04-11 17:40] mariotaku commented on #40
@Woedenaz Sounds like many people experiencing this. Could you try grab the crash log by this guide? https://github.com/mariotaku/moonlight-tv/wiki/Troubleshooting

[2021-04-11 20:43] Woedenaz commented on #40
Tried the exact command you have there, `ares-novacom -r "zcat /tmp/faultmanager/crash/*.gz"`, and I get the error:

I tried it again with the device specified, `ares-novacom -r "zcat /tmp/faultmanager/crash/*.gz -d tv`, and I get the error:

Not entirely sure what I'm doing wrong and I'm not 100% sure how to connect to the tv via SFTP. I tried finding a guide but I can't seem to find anything.

[2021-04-11 20:53] Woedenaz commented on #40
Sorry for the double post but I managed to connect via SFTP and there does not seem to be a crash file. The /tmp/ directory appears to be entirely empty.

[2021-04-12 01:51] mariotaku commented on #40
@Woedenaz Thank you. Could you run below command to execute moonlight directly?
[code]

[2021-04-12 07:10] exalented commented on #32
Ping to let you know I emailed you and to report that there are no crash logs.

[2021-04-12 13:32] xatornet opened #50 "[BUG] Release v0.6.3-v0.6.6 crashes on load"
**Describe the bug**
I've updated to release v0.6.3 & v0.6.6 and now Moonlight won't even open. Releases v0.6.1 and below work. I've tried to fully erase moonlight and install it again, but i have the same effect.

**To Reproduce**
Steps to reproduce the behavior:
1. Install v0.6.3/v0.6.6 via webOS Tv Cli
2. Back on the TV, select and open Moonlight
3. The app shows its grey screen for a second, t

[2021-04-12 14:02] mariotaku commented on #50
Could you follow this link to see crash log? https://github.com/mariotaku/moonlight-tv/wiki/Troubleshooting#crashes

[2021-04-12 14:31] xatornet commented on #50
I'll try, but seems there's another update to GFE right now. I'll update it and try again...

[2021-04-12 14:37] mariotaku commented on #50
Looks like many people got similar issue. Let me update dependencies and try again.

[2021-04-12 16:19] xatornet commented on #50
well, eitherway, I'll give it a go again with the updated GFE

[2021-04-12 17:59] circoloco696 opened #51 "Black Screen LG Oled 77C8LLA"
# Basic information

 - Device Model: LG OLED77C8LLA
 - System Version: 05.30.10 / Moonlight webOS version 4.3.0 / Decoder webOS SMP / Version 0.6.3
 - Is Audio Working: Yes
 - Is Video Working: No, tryed lower res / Bitrate / PC settings fixed to 60hz / deactivated G-Sync
 - Is Input Working: YES, Remote and Xbox series X controller

Dashboard is working perfect, also everything launchable with t

[2021-04-12 18:39] mariotaku commented on #51
Could you try https://github.com/mariotaku/moonlight-tv/releases/tag/v0.6.6 version and switch to another decoder like LGNC/NDL?

[2021-04-12 18:53] mariotaku opened #52 "Flag to allow one decoder working with another"
`allowOther`

[2021-04-12 20:10] circoloco696 commented on #51
Its working now ! Thank you ! It runs now with every codec. Im using currently the LGNC. If i can choose, what is the best one ?

Also 4k 60 is working flawless till 35000kbps. Over that the Screen freezes at graphic demanding Pictures /game scenes.
I think it hit the limitation of the 10/100 mbit ethernet port from the C8 ? Any room to improve here?

The inputlag from the Xbox controller connecte

[2021-04-13 08:13] mariotaku commented on #51
@circoloco696 Great it works! I've done some work to lower input lag to 1ms level on webOS :) Feel free to open new issue when you find something wrong.

[2021-04-13 08:13] #51 closed

[2021-04-13 08:24] mariotaku commented on #52
Done.

[2021-04-13 08:24] #52 closed

[2021-04-13 10:00] xatornet commented on #50
Nope, same behaviour even with v0.6.6. Just a grey screen for a second, then the app closes

[2021-04-13 10:12] robinvalk commented on #39
I've installed version 6.6 and now the app crashes like others have already reported. I've tried to run the commands to get the crash reports but they don't work:

[code]

[2021-04-13 12:57] xatornet commented on #50
Also, I don't get a crash log. Seems more like it automatically closes itself. If I try to get a log, here's what I get:

![image](https://user-images.githubusercontent.com/43992639/114556023-924d3f80-9c68-11eb-9ca5-45d30f68c6e6.png)

[2021-04-13 14:39] roykaandorp commented on #43
With the 0.6.6 version it does work correctly when setting the video codec manual to "WebOS NDL"

[2021-04-13 15:12] roykaandorp commented on #49
I could test it, have a receiver connected with hdmi arc

[2021-04-13 20:04] exalented commented on #32
With v0.6.8 this tv no longer crashes out immediately, but rather audio no longer functions.

[2021-04-14 01:18] ryang3d commented on #49
@mariotaku Could you elaborate on what makes surround sound hard to test? Like @roykaandorp, I (and surely many other people) have the equipment necessary to test this and would be happy to help test if that really is the only thing getting in your way of testing surround sound.

[2021-04-14 01:40] ryang3d commented on #49
For what it's worth, I just tried running the built in "Speaker Setup" in Windows 10 while running moonlight-tv v0.6.8. The L/R channels sounded correct, but the other 3 test tones came out of the same L/R speakers (not my surround/center speakers), and no tone came out of the sub. I have my 65SM8600PUA hooked up via optical cable to a Denon AVR-S510BT, which does provide working surround sound wi

[2021-04-14 02:25] mariotaku commented on #50
@xatornet Now that 0.6.8 should fix crashing issue. Could you try if it can launch? If decoder doesn't work for you, I'll refer to a new issue.

[2021-04-14 03:26] mariotaku commented on #49
@ryang3d I don't have surround sound device for verification, which is the reason.

[2021-04-14 03:52] ryang3d commented on #49
Understood. We're definitely happy to help test surround as needed. Thanks again for all the effort!

[2021-04-14 06:34] circoloco696 commented on #49
I could help test surround sound too if needed with a full 7.2 setup.

[2021-04-14 07:28] xatornet commented on #50
I'll give it a go this morning and let you know. Thanks for your huge effort and time @mariotaku

[2021-04-14 08:40] robinvalk commented on #39
Hi again!

Version 0.6.8 works! On 1440p @ 60 it's lag free. The video submit time is around 7ms. I've tried to use 4k but I get the message that SOPS (if I remember it correctly) is not supported for this resolution.  Also the audio doesn't seem to work.

[2021-04-14 08:50] mariotaku commented on #50
Nice. I'll close this crash issue and waiting for your further report :)

[2021-04-14 08:50] #50 closed

[2021-04-14 08:53] mariotaku commented on #39
Glad to hear it works! SOPS could be turned off in Settings -> Host -> Optimize blahblah. For Audio I'll make some further modification to make it work.

[2021-04-14 09:10] xatornet opened #53 "[BUG] Audio not working on v0.6.8"
**Describe the bug**
Although the video stream works, I don't get any audio. I've checked that the computer is using the proper audio device for streaming, and all is well configured, also audio works on any other Moonlight device, but not with webOS.

**To Reproduce**
Steps to reproduce the behavior:
1. Update to v0.6.8
2. Pair with PC
3. Open any game/app you want
4. You don't get audio, only vi

[2021-04-14 09:18] xatornet opened #54 "[BUG] 1440p has arctifacts - Some considerations"
**Describe the bug**
Seems to me that v0.6.8 has a lower quality video decoding than previous versions. On version v0.6.1 for instance, I was using 1440p @60fps with 40Mbps aprox, and the results were right. But now, using the same preset but even with 50Mbps or 60Mbps, I get some weird arctifacts. Mostly color errors like this:

![photo_2021-04-14_11-16-07](https://user-images.githubusercontent.c

[2021-04-14 09:24] mariotaku commented on #54
Does it look overexposed? Did you have HDR on your host machine?

[2021-04-14 09:34] xatornet commented on #54
I don't have HDR enabled. It looks weird some times. White tends to be on some places yellowish, and dark blue turns into red.

[2021-04-14 09:54] mariotaku commented on #54
On larger bitrates I can see drastic raise of submitting time, so I think 40 is a sweet spot for most TVs, crash may even occur when bitrate beyond 60.

[2021-04-14 09:55] xatornet commented on #54
Yeah, but on 40Mbps the arctifacts happen too. That's why I tried raising the bitrate, to see if it would improve picture quality.

[2021-04-14 10:13] circoloco696 commented on #54
I ordered a usb3 to gigabit Ethernet adapter. All the lg tv's only have 10/100 mbit build in ethernet.

Cant get over 25-30 mbit with 4k 60 stream without lag/ freezes. I will report back if its possible to crank up the bitrate with this adapter.

[2021-04-15 14:17] roykaandorp opened #55 "Can't choose NDL with 0.6.9[BUG]"
**Describe the bug**
Can't choose the NDL video codec, with the 2 codecs I can choose I have a black screen. Version 0.6.6 however does work correctly.

**To Reproduce**
Steps to reproduce the behavior:
Open moonlight, start a stream.

**Expected behavior**
Possibility to choose the NDL codec.

**LG webOS TV (please complete the following information):**
 - Model: 75uk6200
 - webOS version 4.3.0

[2021-04-15 16:20] mariotaku commented on #55
Thanks for your report. I've added back NDL and LGNC in v0.6.10 and it will be available shortly.

[2021-04-15 16:26] mariotaku commented on #55
https://github.com/mariotaku/moonlight-tv/releases/tag/v0.6.10 You may need to switch to NDL manually.

[2021-04-15 16:26] mariotaku commented on #54
https://github.com/mariotaku/moonlight-tv/releases/tag/v0.6.10 Could you try if this version has sound on webOS?

[2021-04-15 17:01] roykaandorp commented on #55
Yes now it's working, it stayed on NDL as I used that setting on 0.6.6, tried to set it at automatically but that didn't work indeed

[2021-04-15 17:01] #55 closed

[2021-04-15 19:48] xatornet commented on #54
Audio is working back again!! Thanks. I'll update the other thread.

Now on this version I have loads of decoders, but while I select "Auto", i don't actually know which is using. It would be great to put it on the statistics where you can see framerate and other things.

[2021-04-15 19:48] xatornet commented on #53
It works now on v0.6.10!!! Thanks!

[2021-04-15 19:48] #53 closed

[2021-04-16 11:24] xatornet opened #56 "[Feature Request] Add which codec is being used into statistics panel"
**Is your feature request related to a problem? Please describe.**
Since now we get a "auto" setting for codec selection, we don't get to know which one has been selected.

**Describe the solution you'd like**
A fine solution would be, imo, to add which codec is being used into the statistics panel that shows when pressing BACK for a couple of seconds.

**Describe alternatives you've considered**

[2021-04-16 17:02] matustokar opened #57 "[COMPAT] OLED55CX"
- Moonlight version: 0.6.10
- Device Model: OLED55CX
- System Version: 5.2.0
- Is Audio Working: Yes
- Is Video Working:  1080@60
- Is Input Working:

MagicRemote works
Xbox controller doesn't. After connecting with USB cable to tv it just vibrates, xbox logo is not illuminated. Gamepad indicator in moonlight is showing 1 connected controller but it isn't possible to control the game.

So I wasnt

[2021-04-16 18:00] mariotaku commented on #57
What is your controller, Is it Xbox One Controller or 360?

[2021-04-16 18:24] matustokar commented on #57
xbox one

[2021-04-16 18:43] mariotaku commented on #57
@matustokar This is expected. For connecting directly to the TV, Xbox 360 Controller, PS3/PS4 Controller should work. If you want to use Xbox One Controller, you can consider buying an adapter: https://github.com/mariotaku/moonlight-tv/wiki/Gamepad-Setup

[2021-04-16 19:20] #43 closed

[2021-04-16 19:43] #56 closed

[2021-04-16 19:44] mariotaku commented on #35
After few updates, new version might solve that for you. You may choose one of the decoder, and there should be one for your TV.

[2021-04-16 20:00] matustokar commented on #57
Thanks. Will do proper testing in couple days.

[2021-04-17 08:14] mariotaku opened #58 "[BUG] Crash during session"
[code]

[2021-04-17 15:25] exalented commented on #32
Great job with the 7.0 release. Streaming server stays paired!

[2021-04-17 18:09] mariotaku opened #59 "[Help wanted] MMAL Decoder for Raspberry Pi"
Since I didn't own any Raspberry Pi right now, there's no way to test. But adding a new device would be relatively easy thanks to recent refactoring.

[2021-04-18 12:50] xatornet opened #60 "[BUG] Streaming Error on v0.7.0"
**Describe the bug**
After the pair, if I try to open any app to stream, I get this error:

Streaming Error
Connection failed at stage 4, errorCode = 552

**To Reproduce**
Steps to reproduce the behavior:
1. Install v0.7.0
2. Pair with PC
3. Try to open any stream
4. See error

**LG webOS TV (please complete the following information):**
 - Model: 55NANO916NA
 - webOS version: 5.2.1

[2021-04-18 18:41] mariotaku commented on #60
Hi! Could you do a quick check about this issue? https://github.com/mariotaku/moonlight-tv/wiki/Troubleshooting#quick-checklist

[2021-04-19 03:17] mariotaku commented on #29
Closed as this should be working now. Feel free to open an issue if something isn't working for you.

[2021-04-19 03:17] #29 closed

[2021-04-19 03:18] mariotaku commented on #33
Closing now. Feel free to open a new one if there're something not working.

[2021-04-19 03:18] #33 closed

[2021-04-19 03:29] mariotaku commented on #44
Crashing issue should be fixed now. Decoder is now pending development. Please stay tuned to #59 .

[2021-04-19 03:29] #44 closed

[2021-04-19 09:02] xatornet commented on #60
Issue resolved on v0.7.1

[2021-04-19 09:02] #60 closed

[2021-04-19 09:04] xatornet commented on #54
I've been tinkering with latest v0.7.1. It seems that it's not the bitrate the issue. It's the resolution. If I put 1080 at 40Mbps, it works fine. But 1440p at the same bitrate, show those artifacts. Both are using the same decoder, both on h265. I'll futher test with the other decoders included, to see what is the behaviour.

[2021-04-20 02:22] mariotaku commented on #40
Issues above should have fixed, closing it now. Feel free to open a new one.

[2021-04-20 02:22] #40 closed

[2021-04-20 02:24] mariotaku commented on #48
Closing. You may try switching between decoders to find a usable one. If problem still exists, feel free to reopen/open a new issue.

[2021-04-20 02:24] #48 closed

[2021-04-20 18:11] mariotaku opened #61 "Bad connection warning"

[2021-04-21 10:12] carlosirume opened #62 "[COMPAT} 43LH6000"
# Basic information

 - Device Model: 43LH6000
 - System Version: 05.30.80
 - Is Audio Working:
 - Is Video Working: yes
 - Is Input Working:

Moonlight is starting and pairing correctly, but does not show the streaming. I have an error message:
Connection failed at 1062492, errorCode  = -1

[2021-04-21 11:16] mariotaku commented on #62
Which decoder has been selected? You can find in Settings -> About.

[2021-04-21 14:55] carlosirume commented on #62
It´s set to automatic in both, tv and my pc.

[2021-04-21 15:34] mariotaku commented on #62
In Settings -> About, you'll find the one that chosen automatically. For your TV, NDL or NetCast Legacy might work.

[2021-04-22 09:46] Raicuparta opened #63 "Automatically extending developer mode with Home Assistant"
Since I don't like manually extending the dev mode all the time, I wrote an automation for Home Assistant to do this every night: https://gist.github.com/Raicuparta/f9cd299918e7280cc5c90c947b95de0f

If you don't know Home Assistant, check it: https://www.home-assistant.io/

You can have it running off of a raspberry pi or some laptop.

Sorry that this isn't really an issue about this project, but

[2021-04-22 15:06] mariotaku commented on #63
This is a good one. Before closing/transferring this issue I have some other way to extend this. https://github.com/webosbrew/dev-goodies/blob/main/reset-devmode-timer.sh . Also stay tuned to https://github.com/webosbrew/webos-homebrew-channel :)

[2021-04-22 18:51] Raicuparta commented on #63
@mariotaku Interesting! If I understand correctly, it just needs to connect to the TV to get the session token, then the actual resetting doesn't require the TV anymore. I assume you can't SSH into WebOS while the TV is off, even with Wake-On-Lan being on. So using Home Assistant to power on the TV and run your script sounds like the smartest way to accomplish this.

[2021-04-23 03:46] mariotaku commented on #63
Indeed. So you can first wake the TV and obtain dev mode token. Then perform all reset requests without TV.

[2021-04-23 19:21] mariotaku opened #64 "Provide option to use fallback audio"

[2021-04-24 22:58] Raicuparta commented on #63
@mariotaku I'm trying to run your script, and at the end after calling LG's endpoint, I get this response:
[code]
But even with this apparently positive result, the remaining time on my Developer Mode app still didn't reset back to 50 hours. Was I supposed to get a different result, or do you know if there's something that I might be missing?

[2021-04-25 15:40] mariotaku commented on #35
Closed due to inactivity. Feel free to reopen if newest version doesn't work for you.

[2021-04-25 16:06] mariotaku commented on #63
Developer Mode only update its UI on boot. So this should be fine. Maybe reboot and you'll see it's been reset?

[2021-04-25 17:09] xatornet commented on #54
I've updated my findings on the OP post

[2021-04-26 00:52] Raicuparta commented on #63
Yeah even after rebooting the TV it doesn't change. Only changes when I press the extend button. Strange 🤔 How did you find that this was the endpoint that needed to be called? Maybe somehow depends on the country or something? I wanna see if I can figure out which endpoint it's calling on my TV, but not sure how to do that.

[2021-04-26 01:44] mariotaku commented on #63
Could you try make a GET request to this URL?
`https://developer.lge.com/secure/CheckDevModeSession.dev?sessionToken=[the token you have]`

On mine it says `{"result":"success","errorCode":"200","errorMsg":"49:17:11"}` clearly says it's been updated properly.

[2021-04-26 06:32] Raicuparta commented on #63
Yeah that's what I did. I get the success result. The only difference seems to be the "errorMsg" which for you is something that looks like a time counter, and for me it's just "GNL" which I don't know the meaning of.

[2021-04-26 08:38] xatornet opened #65 "[Feature Request] Add some info/description/differences between the different decoder presets"
**Is your feature request related to a problem? Please describe.**
Improve Wiki by adding and documenting what characteristics has each decoder ( NDL vs SMP...etc)

**Describe the solution you'd like**
Just adding a description of what advantages/disadvantages each decoder has. Maybe inside wiki or in the main post.

[2021-04-26 11:38] mariotaku commented on #63
Oh, I mean the second URL which is different than first one. `https://developer.lge.com/secure/CheckDevModeSession.dev?sessionToken=[the token you have]` is to check how many hours devmode have.

[2021-04-26 16:37] Woedenaz commented on #40
Apologies, I meant to reply that this does seem to be fixed now. Thank you and sorry I wasn't too much help!

[2021-04-26 18:31] roykaandorp commented on #49
I've tested surround with version 0.7.5 and I can say it's working!
Used the following video to test:
https://www2.iis.fraunhofer.de/AAC/ChID-BLITS-EBU.mp4

[2021-04-26 23:29] Orof opened #66 "[COMPAT]SOPS Isn't Supported"
** Since device support range becomes wider, please submit this issue only when you got problems **

# Basic information

 - Device Model: 55UN7340PVC
 - System Version: 5.2.1
 - Is Audio Working: Yes
 - Is Video Working: 4K60FPS
 - Is Input Working: Remote

Please also provide additional information when possible.
-1080P with enhanced optimization for games present an error - SOPS isn't supported

[2021-04-27 00:39] ryang3d commented on #49
Nice! @roykaandorp, can you share any details about your home theatre configuration? What receiver are you using, what TV are you using, what cable (optical or hdmi) are you using between your TV and receiver, etc.

I thought I tested the same moonlight-tv version a day or two ago but was unable to get surround, but I'll double check later this evening. Glad to hear it is working for you though!

[2021-04-27 04:34] mariotaku commented on #49
Not sure if @roykaandorp is using local builds. This feature is work in progress and only available in debug builds (not in releases). But if it can play surround successfully, this is indeed a great news!

[2021-04-27 08:22] roykaandorp commented on #49
I'd tested with the release 0.7.5
Tv model is 75uk6200, amp is a marantz nr1609 connected to the hdmi ARC port. As decoder I use webOS NDL.
The amp recognizes the signal as Multichannel, so do'n set it manual at dolby or something but set it at auto.

[2021-04-27 13:42] mariotaku commented on #65
This is quite confusing. While I'm trying to automate to select the best one, here's a simple doc for comparison: https://github.com/mariotaku/moonlight-tv/wiki/Performance

[2021-04-27 13:43] xatornet commented on #65
Great, thanks

[2021-04-27 13:48] xatornet commented on #65
Also, and this maybe off-topic but, since the development is pretty good, and fairly stable, is there a possibility to make this into the LG's Store? It's really anoying that your amazing works gets wiped whenever the devmode time runs out.

[2021-04-27 13:51] mariotaku commented on #65
I have contacted LG but they ghosted me after few emails :(
But we are also working on a third party homebrew store: https://repo.webosbrew.org/ and will be available in the future (root will be optional)

[2021-04-27 13:53] xatornet commented on #65
That is great!! I'll give it a go as soon as I find a proper tutorial. Thank you. I won't bother anymore :-)

[2021-04-27 16:01] roykaandorp commented on #49
Correct me if i'm wrong, moonlight uses multichannel pcm for surround, optical out doesn't support that (not enough bandwith). So unless the tv first transcodes it to a dts/dolby digital stream (that I suppose will give noticeable latency) it won't work. I think it will only work with ARC.

[2021-04-27 16:18] mariotaku commented on #49
@roykaandorp Just a bit curious, because I don't remember I have provided enabled surround sound yet. I'll do in next release though.

[2021-04-27 17:20] roykaandorp commented on #49
Yes I was surprised too, because you didn't mentioned it in that release, but i'd seen you was busy with that so I tried and it worked. With the older release I was using (0.6.8) my amp recognized the audio as stereo, now with 0.7.5 as multi in, the test video confirmed every channel works.

[2021-04-27 18:10] mariotaku commented on #49
@roykaandorp I can confirm that none of previous version has correct setup parameter for surround sound.
**BUT**, v0.7.7 comes with correctly configured one. PulseAudio with 5.1ch works flawlessly.
[code]

[2021-04-27 18:12] mariotaku commented on #49
To use surround sound,

1. Set "Audio backend" to "PulseAudio" in Settings -> Decoder Settings
2. Set "Audio channels" to "5.1 Surround" in Settings -> Basic Settings

And enjoy! PulseAudio comes with acceptable audio latency, and I'll be trying to improve it in future releases.

[2021-04-27 18:20] #64 closed

[2021-04-28 00:55] ryang3d commented on #49
You might be onto something there... I enjoy surround sound, but I'm not much of an audiophile and my knowledge of requirements and compatibility are limited. Out of curiosity, I did try loading up the fraunhofer.de video in my TV's built-in web browser, and the surround sound worked perfectly (but when run through moonlight-tv it still comes out stereo only, even with v0.7.7 with PulseAudio and 5

[2021-04-28 06:30] roykaandorp commented on #49
As seen here https://fwd.nl/app/uploads/HDMI21-earc-1024x459.jpg it only seems to be possible to get multichannel pcm with eARC. Read somewhere that LG tv models of 2020 or newer support that. Maybe take a look at transcoding it to ac3 isn't a bad idea?

[2021-04-28 13:05] mariotaku commented on #49
Please keep in mind that encoding audio via software is much slower especially for multiple channels. Too much processing will make latency unbearable, especially for gaming purposes. Currently there are only 2 ways reasonable, one is to play 5.1ch PCM, another is feed opus audio directly, although I'm not sure how well webOS can handle.

[2021-04-28 13:06] mariotaku commented on #49
For the second way I've been investigating for quite a long time, but seems the channels are always incorrect for webOS.

[2021-04-29 18:16] predprey2 opened #67 "[COMPAT] OLED55C7T webOS 3.9.0 - Sound not working"
# Basic information

 - Device Model: OLED55C7T-T
 - System Version: 3.9.0-62705
 - Is Audio Working: No
 - Is Video Working: Yes, tested 1080p60fps 1440p60fps 4K60fps
 - Is Input Working: Not tested, yet

Software version: 06.00.05

Tested versions: 0.7.5, 0.6.10, 0.7.7, 0.7.8

[code]

[code]

[2021-04-29 18:52] s200043 commented on #67
`C:\webOS_TV_SDK\CLI\bin>ares-novacom -r "cat /tmp/com.limelight.webos.log" --device OLED55C7T
000000.019 [APP][WARN] Unable to load decoder module: /lib/libstdc++.so.6: version `GLIBCXX_3.4.21' not found (required by /media/developer/apps/usr/palm/applications/com.limelight.webos/lib/libmoonlight-smp.so)
000000.031 [APP][WARN] Unable to load decoder module: /lib/libstdc++.so.6: version `GLIBCXX_3

[2021-04-30 12:05] mariotaku commented on #67
Did you tried PulseAudio? Although I thought NDL audio should work.

[2021-04-30 12:15] predprey2 commented on #67
Manually setting audio backend to NDL audio doesn't seem to load it properly.
It still shows "Restart Moonlight to apply changes" even after restarting while Audio Backend under About shows "Use decoder".
Same for PulseAudio.

Under Audio channels in Basic Settings it shows only stereo even though an older UH650T shows both 5.1 and stereo. Also couldn't connect on 0.7.8 on UH650T, had to roll back

[2021-04-30 12:15] predprey2 commented on #67
Manually setting audio backend to NDL audio doesn't seem to load it properly.
It still shows "Restart Moonlight to apply changes" even after restarting while Audio Backend under About shows "Use decoder".
Same for PulseAudio.

Under Audio channels in Basic Settings it shows only stereo even though an older UH650T shows both 5.1 and stereo. Also couldn't connect on 0.7.8 on UH650T, had to roll back

[2021-04-30 15:29] roykaandorp commented on #49
I'm afraid you're right, however I found a post of someone who said he's using it succesful (didn't mention about latency), but for that the alsa plugin a52 is needed, I don't know if it's possible to use that with the read only file system?

Another option I was thinking about, encoding it as ac3 on the host. Did a request for that as option at the Sunshine github, but probably then the client ne

[2021-05-01 07:06] mariotaku commented on #49
@roykaandorp Alsa is not working by any attempt on webOS. So this couldn't be an option. Also transmitting other audio codec then opus is not possible, as this whole protocol should be exact same to NVIDIA's official implementation.

[2021-05-01 13:21] matustokar commented on #57
Finally had some longer playing sessions. Working good with 1080@60.

[2021-05-01 14:04] mariotaku commented on #66
Hello, I think SOPS could be changed in Settings -> Host Settings. Sometimes the SOPS is not supported under specific resolution/fps. Turning it off will be able to safely ignore that.

[2021-05-01 14:05] #65 closed

[2021-05-01 14:06] mariotaku commented on #57
Good to hear that! I think compatibility support could be considered good.

[2021-05-01 14:06] #57 closed

[2021-05-01 14:07] mariotaku commented on #39
Hello, after few updates, there should be option to select other audio backends - which should work for you.

[2021-05-01 14:08] mariotaku commented on #32
Can't reproduce crashes so far. So I'll be closing this issue. For random crashes, please report in separate issue.

[2021-05-01 14:08] #32 closed

[2021-05-01 14:09] mariotaku commented on #62
Closing this. Feel free to reopen/create a new one if problem occurs.

[2021-05-01 14:09] #62 closed

[2021-05-01 14:10] mariotaku commented on #63
Closing. Please looking forward to [homebrew-channel(https://github.com/webosbrew/webos-homebrew-channel) for a better solution.

[2021-05-01 14:10] #63 closed

[2021-05-01 15:15] mariotaku commented on #58
Could be fixed in 85fbf6113b84f41abd41ef3af60b1573a0716fa9.

[2021-05-01 15:15] #58 closed

[2021-05-01 15:29] mariotaku commented on #67
I have found a schrödinbug according to this issue causing crashes - maybe this will also help with using LGNC.

[2021-05-01 18:46] predprey2 commented on #67
Yes, thanks, 0.7.9 fixed LGNC on UH650T. One thing I noticed after trying the app on the C7 is that holding the back button actually brings up the stats and option to quit game. On the UH650T holding the button quits the app instead, not sure if this is a bug or just the older LG remote being incompatible.

Still no sound on C7 though for 0.7.9,

[2021-05-01 19:16] mariotaku commented on #67
Great. So what's the decoder seleced on C3 now? For C3 I think NetCast for video and automatic for audio would work.

[2021-05-01 20:33] predprey2 commented on #67
For C7 both NDL video and NetCast video work, but there is no audio. Automatic audio shows as "Use decoder". Manually setting to NDL, Pulse or SDL shows the restart message even after restart and audio decoder remains as "Use decoder"

[2021-05-02 05:21] mariotaku commented on #67
This is somewhat unexpected. Because of lacking real devices, I'm a fraid compatibility can't be improved at this moment. Please stay tuned when there are new ways to play audio.

[2021-05-02 08:58] predprey2 commented on #67
Is there anything you require from a real device? Like decrypting the firmware for reversing the API calls? I can setup an environment to try and build and patch myself if needed, but it would help if there are some general steps you can give to tell me where to start looking first.

[2021-05-02 11:32] mariotaku commented on #67
Generally to build moonlight you will need
1. webOS NDK which can be found [here](https://github.com/webosbrew/meta-lg-webos-ndk)
2. Execute [`./scripts/webos/easy_build.sh`](https://github.com/mariotaku/moonlight-tv/blob/main/scripts/webos/easy_build.sh).

The most tricky part is to have countless trial and errors.

[2021-05-02 11:34] predprey2 commented on #67
How about the troubleshooting? Which source file and part of the firmware should I look into to figure out how to get the audio working?

[2021-05-02 13:17] roykaandorp commented on #49
@mariotaku There is also a dts encoder that should work with pulseaudio and could also be integrated. But I could imagine that it would take too much effort, as there is no guarantee the latency will be acceptable.
https://github.com/darealshinji/dcaenc
About transmitting it as a ac3 stream from the host, I was talking about an open source host.

[2021-05-02 14:51] mariotaku commented on #49
I was thinking about doing some experiments about performing opus -> pcm -> ac3/aac conversion, but this will bring a whole lot tasks.
Maybe this will be my final attempt to bring surround sound on my own, if this approach not working, I'll have to close this issue and waiting for contributors' patches.

[2021-05-02 14:54] mariotaku commented on #67
This is a bit hard to explain... usually I write a demo to play a video/audio stream, to verify if this API works. Then port it to Moonlight. For now, those decoders/audio backends are tested through multiple devices, and I can't imagine what kind of changes are needed. I'll ask in Moonlight's discord channel to see if there're anyone else having similar issue.

[2021-05-02 15:00] predprey2 commented on #67
Thanks, that's useful enough. I'll try and look into my specific firmware and see what is the difference between its API and those currently implemented.

[2021-05-02 15:06] mariotaku commented on #67
Please note that if a decoder uses unsupported API on your platform, it won't be loaded at all. Now it look like playback has failed silently.

[2021-05-02 17:11] mariotaku commented on #49
A little bit update: opus -> pcm -> fdk-aac can have sounds, but have some problems. I'll fix this then you can try on your TV.

[2021-05-03 00:07] mariotaku commented on #49
So I have implemented AAC encoded playback on webOS 4 (NDL Audio). But there are few problems:

1. on webOS 5, NDL only support PCM, Opus and MP3. No AAC/AC3 usage found in NDL
2. AAC Encode + Playback brings nearly 100ms of latency. While it's not bad for playing videos, it's not optimal for gaming.

If AAC playback doesn't have surround sound, then I can say it's nearly not possible for Moonligh

[2021-05-03 20:01] roykaandorp commented on #49
Would like to try out, but have some difficulties with building the NDK, hopefully fixed now. Ubuntu 16.04 had some files it couldn't download, 18.04 errors on building qemu. Found a fix for that so hopefully it will build now, then I shall test the surround tomorrow

[2021-05-03 20:05] Orof commented on #66
Disabling optimize game settings solved the problem (but there is no optimization). the resolution is pretty standard - 1080P/60FPS. even in 720P the problem persists. other than that I am very thankful for your creation! now I can use my computer to emulate ps2 & ps3 games, and imagine that my PS5 has backwards compatibility hahaha. much better than 720P/60FPS I got with direct streaming from the

[2021-05-04 01:22] mariotaku commented on #49
You can grab prebuilt NDK to save some time, plus it can run on almost any distro

[2021-05-04 03:00] ryang3d commented on #49
0.7.9 doesn't have AAC implemented does it? I couldn't find a decoder combination that works for my setup yet.

[2021-05-04 03:08] mariotaku commented on #49
What do you mean by prebuilt NDK and AAC? I assume you are talking about prebuilt moonlight, it's not in prebuilt yet. But if you want to build moonlight on your own, you don't have to build the whole webOS NDK which will take 6+ hours.

[2021-05-04 07:50] Raicuparta opened #68 "Can max bitrate be improved with a gigabit ethernet adapter?"
It seems like you have the max bitrate set to 60Mbps. Is this due to the ethernet port on the TVs? I know some people use adapters [like these](https://www.amazon.com/dp/B00BBD7NFU?ref=ppx_pop_mob_ap_share) to get gigabit connections on their LG TVs. Do you think using something like this would allow for higher bitrates in Moonlight? I'm willing to test it myself, just want to check with you first

[2021-05-04 10:06] mariotaku commented on #68
Bitrate caps are set for stability. Lag, corrupted frames or crash may occur on higher bitrate that isn't supported by webOS. See https://webostv.developer.lge.com/discover/specifications/supported-media-formats/webos-50/

[2021-05-04 10:09] Raicuparta commented on #68
Got it, thanks.

[2021-05-04 10:09] #68 closed

[2021-05-04 10:12] mariotaku commented on #67
By the way, I'm planning to write some sample application to media APIs. Will let you know if they are ready, so you can try those demos directly to see if it's supported.

[2021-05-04 10:34] predprey2 commented on #67
Sure, ready anytime

[2021-05-04 17:02] roykaandorp commented on #49
Ok tnx, did that before but had a lot missing files, so thought I had to built it myself.
finally succeeded to build the ipk, when I choose NDL videodecoder I can't choose surround. So I chose the SMP videodecoder (black screen), and tried the pulse and ndl audio de, but unfortunately only received 2 channels on the receiver.

[2021-05-05 02:30] mariotaku commented on #49
I see, AAC support was added to NDL audio though, so if you only hear 2 channels, that mean all attempts above has failed. I'll remove audio channel option from webOS, as it's not supported.

[2021-05-05 04:20] mariotaku commented on #49
Sorry about that, but I'll have to close this until I got official information from LG.

[2021-05-05 05:00] mariotaku commented on #59
OMX decoder is now available. Will try to use V4L2 instead later.

[2021-05-05 05:00] #59 closed

[2021-05-05 05:44] #66 closed

[2021-05-05 13:50] PiRomant opened #69 "Static link for releases"
Make static name for `.ipk` for static link https://docs.github.com/en/github/administering-a-repository/linking-to-releases
ex: https://github.com/mariotaku/moonlight-tv/releases/latest/download/com.limelight.webos.manifest.json always leads to the file from latest release.

[2021-05-05 13:58] mariotaku commented on #69
Do you have some special consideration for this case? The manifest is for https://github.com/webosbrew/webos-homebrew-channel , which is capable of resolving the IPK file linked to the manifest. Besides, version suffixes to IPK can make people who download Moonlight manually managing those packages with less hassle.

[2021-05-05 14:17] PiRomant commented on #69
I wanted to ask to add a static link to the non rooted hack install website. I don't think the author will keep track of the latest versions. https://webosapp.club

[2021-05-05 14:38] mariotaku commented on #69
How about to ask them? We have standardized definition, so if they are willing to adopt this, more apps from webosbrew will be available to that app market.

[2021-05-05 15:20] PiRomant commented on #69
Unlikely

[2021-05-05 15:20] #69 closed

[2021-05-05 17:23] roykaandorp commented on #49
@mariotaku That's unfortunate for the time you spent on it, hopefully LG will release info about that. Tnx for trying anyway

[2021-05-05 17:32] ryang3d commented on #49
Agreed, thanks for all the effort! Crossing fingers for future developments...

To clarify the current status though, is surround sound over HDMI eARC working with moonlight, while surround sound over optical is not working? Or is surround sound just not working at all in either scenario?

[2021-05-05 17:37] roykaandorp commented on #49
@ryang3d Surround sound over eARC should work as that support multichannel pcm. Over ARC/optical it needs to be transcoded first

[2021-05-06 09:04] MaDaLiNoSt opened #70 "[COMPAT] Crash with 0.7.9"
# Basic information
 - Device Model: 55UM7100PLB
 - System Version:  4.9.0-53904

Latest version 0.7.9 does not start on webos 4.9.0-53904
Downgrading to 0.6.0 fixes that issue.

[2021-05-06 09:11] MaDaLiNoSt commented on #70
/tmp/faultmanager/crash # zcat RDXD*

Created Time = < REALTIME 2021-05-06T08:59:34.010518   MONOTONIC_TIME [1209.941073389] >
Starfish Info => Rockhopper release 4.9.0-53904 (goldilocks2-gyeryongsan)

Machine Info => Release : 4.4.84-417.gld4tv.7, Version : #1 SMP PREEMPT Fri Jan 15 07:09:42 UTC 2021, Machine : armv7l
***Segmentation fault
Comm: moonlight
Cmdline: /media/developer/apps/usr/palm/a

[2021-05-07 12:42] Raicuparta commented on #68
@mariotaku I was gonna try to build a version that allows for higher bitrate just to run some tests, but setting up the NDK seems like a bit of a doozy 😵 Any chance you could add some secret setting for disabling the bitrate cap? If not, I'll keep going with the setup process.

[2021-05-07 21:46] roykaandorp commented on #68
@Raicuparta I was struggling with that too, but mariotaku made it really easy to do it yourself. The SDK you could download the precompiled one and install, git clone this repo, copy the easy script to the root of the repo directory and execute.

[2021-05-07 22:17] Raicuparta commented on #68
@royka1 thanks for the tip! I'll give it a shot

[2021-05-09 12:59] mariotaku commented on #70
Should be fixed in v0.7.10. Please let me know if there is a regression.

[2021-05-13 11:52] Raicuparta commented on #68
@royka1 I assume you did this in Linux? I tried in Windows via Linux subsystem but just get tons of missing dependencies :/

[2021-05-13 15:33] mariotaku commented on #68
@Raicuparta Only a few dependencies are needed. Make sure you didn't miss any steps needed. If you want to get help about building moonlight, feel free to open a new issue.

[2021-05-14 05:40] #70 closed

[2021-05-15 07:38] Raicuparta commented on #63
Yeah sorry I didn't notice it was a different URL.

If anyone else needs help with the app not updating: just ignore it and use that API to check the real time. For some reason on my tv the developer mode app doesn't reflect the resets that happen from outside the app. It just keeps counting down. But i can let it go to zero and it still works, as long as the timer on that API call doesn't get to

[2021-05-15 16:41] CremboC commented on #39
I've been using the latest version 0.7.10 on my LG C1 with webOS 6.0 and it works perfectly for me. No changes needed of any kind. 4k 60fps with HDR on. Latency is less than 2ms.

[2021-05-28 02:58] mariotaku commented on #35
See others reporting similar issue

[2021-06-04 01:20] Jessewb786 opened #71 "[COMPAT]"
Reopening the issue for this TV Model

## Basic information

 - Device model: OLED55C8PLA
 - Firmware version: 05.30.10
 - webOS version: 4.3.0
 - Moonlight version: 0.7.11
 - Is audio working: Yes
 - Is video working: No. Black screen on all video decoder settings, resolutions and refresh rates
 - Is input working: Yes

## Description
Black screen on all video decoder settings, resolutions and re

[2021-06-04 02:16] mariotaku commented on #71
Should be the same to #35, please follow updates in that issue.

[2021-06-04 02:16] #71 closed

[2021-06-04 05:04] mariotaku commented on #71
Oh, by the way did it work before?

[2021-06-04 07:05] Jessewb786 commented on #71
@mariotaku No. I haven't seen it work it in previous versions either.

[2021-06-04 07:07] mariotaku commented on #71
@Jessewb786 I see. Let's continue our discussion in #35.

[2021-06-04 07:08] mariotaku commented on #35
@Jessewb786 According to #51, they have similar device (OLED C8), NetCast Legacy isn't working for you either right?

[2021-06-04 07:18] Jessewb786 commented on #35
Netcast legacy isn't working for me either on the latest version. I could try give this version 6.6.0 a shot and see of that one works.

[2021-06-04 08:14] Jessewb786 commented on #35
@mariotaku I can confirm that video works on 0.6.6 on all resolutions and refresh rates.
I tested with NDL.
1080 60fps seemed ok.
1080 120fps (fps actually dropped in this mode) and 4k 60fps (choppy video) didn't work well even over a gigabit ethernet connection.

[2021-06-04 08:31] mariotaku commented on #35
@Jessewb786 Thanks, this is very useful information. Could you please help me find which is the last working version?

[2021-06-04 08:33] Jessewb786 commented on #35
@mariotaku No problem, I'll run some tests later and let you know the results.

[2021-06-04 09:28] mariotaku commented on #35
@Jessewb786 FYI, you can do test similar to binary testing. For example v0.7.11 -> v0.6.6 -> v0.7.0 -> v0.6.8

[2021-06-04 09:30] Jessewb786 commented on #35
@mariotaku Indeed, that would be the quickest way to zoom into the latest working version.

[2021-06-04 17:58] Jessewb786 commented on #35
@mariotaku It appears that my initial issue was wrong. In fact, with the latest version 0.7.11 and the NDL decoder, it seems to work well at 1080 120fps, but it stutters at 4k 60fps dropping down to 2fps even.

Note that it works fine at 4k 30 fps, so, I could be wrong, but I suspect that either 50000 kbps may be too little for this decoder at 4k 60fps, or perhaps the CPU just can't keep up (I hop

[2021-06-04 18:26] mariotaku commented on #35
@Jessewb786 usually 35mbps is good enough and your TV will have hard time beyond that. Great it works anyway. I'll keep looking on this specific device. Thanks for your report!

[2021-06-04 19:03] exalented opened #72 "[BUG] Sunshine server doesn't stay paired"
**Describe the bug**
Exactly as described in #32 the server doesn't stay paired.

**To Reproduce**
Steps to reproduce the behavior:
1. Paired with Sunshine server streaming an application works great.
2. Close the app.
3. Start the app.
4. Sunshine server is not in the list of servers.

**Expected behavior**
Sunshine server always stays in the list of paired servers.

**LG webOS TV:**
 - Model: 65

[2021-06-04 19:13] exalented opened #73 "[BUG] Server connection issues"
**Describe the bug**
Connection loss mid-session causes moonlight to crash and crash upon every subsequent attempt to reconnect.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch game/app
2. Restart server: `$ systemctl --user restart Sunshine`
3. Moonlight crashes and exibits behaviors described.

**Expected behavior**
Moonlight kicks you back to the main menu.

**LG webOS TV (please c

[2021-06-04 19:15] exalented commented on #73
[crashes.log](https://github.com/mariotaku/moonlight-tv/files/6600782/crashes.log)

[2021-06-04 19:32] exalented commented on #32
@mariotaku When using a Sunshine server I found moonlight to no longer crash as described here! The only difference that I notice is that Sunshine doesn't serve images or thumbnails.

[2021-06-07 23:56] exalented opened #74 "[BUG] Crash upon bringing up the virtual keyboard before adding a server"
**Describe the bug**
Client crashes while adding server right as the keyboard starts to show up.
**To Reproduce**
Steps to reproduce the behavior:
1. Launch Moonlight
2. Click on the plus button at the top right of the screen somewhat **_quickly_**
3. Experience crash

**Expected behavior**
No crashes should occur.

**LG webOS TV:**
 - Model: 65NANO90UNA
 - webOS version: 5.2.1
 - software version

[2021-06-08 02:27] mariotaku commented on #74
Not sure why but those logs are truncated. I'll try to reproduce first.

[2021-06-08 17:40] exalented commented on #74
The previous log was zcated from another location. I had a look at another issue and they cated a log from `/tmp`, so here's that log https://github.com/mariotaku/moonlight-tv/files/6618579/addservercrash2.log

[2021-06-09 01:47] mariotaku commented on #73
Could you try v0.7.12 to see if it's fixed?

[2021-06-09 03:10] exalented commented on #73
The v0.7.12 client no longer crashes outright and no longer requires a restart of the client to launch a game/connect to the server. I believe the remaining issues where the sunshine server doesn't fully restart would be an issue for the sunshine team to resolve. Nice work!

[2021-06-09 03:10] #73 closed

[2021-06-14 13:00] Raicuparta opened #75 "What would it take to publish this to the store?"
Would it be possible at all, or is this type of app just not allowed? If it's even possible, I'd like to know if there's anything I can help with.

[2021-06-14 13:12] #75 closed

[2021-06-15 21:07] CremboC commented on #75
Hi @mariotaku , for some reason @Raicuparta closed this issue, but I was going to ask the exact same question. What are the blockers releasing this to the normal LG store, if there are any?

[2021-06-16 00:40] mariotaku commented on #75
LG people is the blocker. They doesn't seem interested in contact with me. I have sent few inquiries but they ignored.

[2021-06-16 06:55] ahwanpandey commented on #67
I have the same TV specs and the same issues :( Hopefully a fix coming soon!

[2021-06-16 07:12] mariotaku commented on #67
@predprey2 @ahwanpandey There are some report that 0.3.3 works. Could you try this one? https://github.com/mariotaku/moonlight-tv/releases/download/v0.3.3/com.limelight.webos_0.3.3_arm_latest_core.ipk

[2021-06-16 07:41] ahwanpandey commented on #67
Wohoo! 0.3.3 works when I select use SDL to play audio!

The only issue is there is some delay in the audio.

[2021-06-16 10:44] mariotaku commented on #67
I see. Do you folks have experience with Linux? In order to find out the reason why sound is broken, I'll need to debug on a real TV with webOS 3.9.0. So if you think you're able to help (build moonlight from source and test on your TV) please let me know.

[2021-06-16 14:34] CremboC commented on #75
@mariotaku hmm that's unfortunate. I assume you just tried to follow the normal process https://webostv.developer.lge.com/discover/distribute/app-submission-process/ here? May I ask at which step they ignored you?

[2021-06-16 15:01] mariotaku commented on #75
@CremboC moonlight-tv is not ordinary app that's eligible to be submitted directly: https://webostv.developer.lge.com/common-page/faqs/general-what-types-applications-can-run-webos-tv/

moonlight-tv is not developed by official SDK, instead it's built with unofficial homebrew NDK, which I believe will be rejected upon submittion.

[2021-06-16 22:52] ahwanpandey commented on #67
Thanks so much for helping solve this.

I might be able to help with that. Please send through instructions.

[2021-06-17 01:54] mariotaku commented on #67
@ahwanpandey Thank you! In order to start development, you will need:

1. A Linux machine, or virtual machine, or WSL with any favorite distribution. (Ubuntu, Debian, Arch, anything you prefer)
2. Install unofficial webOS NDK: https://github.com/webosbrew/meta-lg-webos-ndk/releases
3. Install [NPM](https://www.npmjs.com/get-npm) and [ares-cli](https://www.npmjs.com/package/@webosose/ares-cli)
4. C

[2021-06-17 03:19] ahwanpandey commented on #67
Yikes that looks a lot more involved than I thought it would be! I was thinking it would be a simple "configure"/"make" type thing :P

I have been using 0.3.3 for now albeit with a delay in audio which can live with! So no rush with this.

Thanks for all your hard work again. Sorry I can't help with the development.

[2021-06-17 16:31] jackmeyer commented on #67
@mariotaku for what it's worth, I have been unable to get any audio on v0.8.0 or v0.7.12

LG 49UJ6300 on webOS 06.00.03

0.3.3 audio worked for me when using SDL, but has lots of artifacts and is delayed by at least a full second. Video has worked flawlessly for me on all versions, but have been unable to get any audio decoder working on newer versions. Pretty much same issues as OP

[2021-06-18 06:12] S200043 commented on #67
Device Model: OLED55C7T-T
System Version: 3.9.0-62705
Is Audio Working: No
Is Video Working: Yes, tested 1080p60fps
Software version: 06.00.05
Moonlight Version: Commit [e6ecb88ac4b541a6eb7990df97e182e545254eec](https://github.com/mariotaku/moonlight-tv/commit/e6ecb88ac4b541a6eb7990df97e182e545254eec)

[code]

[2021-06-18 06:15] predprey2 commented on #67
Device Model: OLED55C7T-T
System Version: 3.9.0-62705
Is Audio Working: No
Is Video Working: Yes, tested 1080p60fps
Software version: 06.00.05
Moonlight Version: Commit [e6ecb88ac4b541a6eb7990df97e182e545254eec](https://github.com/mariotaku/moonlight-tv/commit/e6ecb88ac4b541a6eb7990df97e182e545254eec)

[code]

[2021-06-18 06:52] predprey2 commented on #67
Device Model: OLED55C7T-T
System Version: 3.9.0-62705
Is Audio Working: No
Is Video Working: Yes, tested 1080p60fps
Software version: 06.00.05
Moonlight Version: Commit [894a6d41a4b93b461feef23cd3d4f4fa2445305a](https://github.com/mariotaku/moonlight-tv/commit/894a6d41a4b93b461feef23cd3d4f4fa2445305a)

[code]

[2021-06-18 07:11] predprey2 commented on #67
Device Model: OLED55C7T-T
System Version: 3.9.0-62705
Is Audio Working: No
Is Video Working: Yes, tested 1080p60fps
Software version: 06.00.05
Moonlight Version: Commit [ed6e070dd88888eedad18640de99b9885c5dfe7e](https://github.com/mariotaku/moonlight-tv/commit/ed6e070dd88888eedad18640de99b9885c5dfe7e)

[code]

[2021-06-18 07:44] predprey2 commented on #67
Device Model: OLED55C7T-T
System Version: 3.9.0-62705
Is Audio Working: Yes (Only PulseAudio)
Is Video Working: Yes, tested 1080p60fps
Software version: 06.00.05
Moonlight Version: Commit [a0c84146c0bfadf3567fac174c07d1c0fd9746ef](https://github.com/mariotaku/moonlight-tv/commit/a0c84146c0bfadf3567fac174c07d1c0fd9746ef)

Additional Notes: ALSA disappeared from list of selectable audio decoders.

[

[2021-06-18 08:16] predprey2 commented on #67
Device Model: OLED55C7T-T
System Version: 3.9.0-62705
Is Audio Working: Yes (Only PulseAudio)
Is Video Working: Yes, tested 1080p60fps
Software version: 06.00.05
Moonlight Version: Commit [28c5a908055844d8f0f56e1daeb48e9fe6ede612](https://github.com/mariotaku/moonlight-tv/commit/28c5a908055844d8f0f56e1daeb48e9fe6ede612)

[code]

[2021-06-18 09:02] predprey2 commented on #67
Device Model: OLED55C7T-T
System Version: 3.9.0-62705
Is Audio Working: Yes, use PulseAudio
Is Video Working: Yes
Software version: 06.00.05
Moonlight Version: Commit [28c5a908055844d8f0f56e1daeb48e9fe6ede612](https://github.com/mariotaku/moonlight-tv/commit/28c5a908055844d8f0f56e1daeb48e9fe6ede612)

Additional Notes: Use JPEG images for custom added games.

[2021-06-18 09:02] #67 closed

[2021-06-18 09:05] ahwanpandey commented on #67
Hi @predprey2  does this mean the issue is fixed? Where can I download this fixed IPK?

Thanks.

[2021-06-18 09:09] predprey2 commented on #67
Yea, audio is working for me at least. You can either wait for the next release, build it yourself or I can send you mine on Discord (pm me).

[2021-06-18 09:14] ahwanpandey commented on #67
@predprey2 thanks for testing it out! I think I'll wait for the release as I don't have/use discord.

Btw, not sure if you've tried but could load up your desktop with moonlight and play this YouTube video to check your audio latency. If everything is perfect, the ball will hit the white line in the middle exactly with the sound.

https://youtu.be/ucZl6vQ_8Uo

[2021-06-18 09:18] predprey2 commented on #67
Audio latency is better than SDL audio on 0.3.3 with latest core, but I think there is still some latency, probably around 0.1-0.2s. Not perfect, but if you aren't looking for it on purpose it is not very noticeable.

[2021-06-18 11:17] ahwanpandey commented on #67
Can confirm 0.8.1 works using PulseAudio. The audio delay is about 0.4s.

[2021-06-18 15:28] jackmeyer commented on #67
Same here, PulseAudio working on 0.8.1 with slight delay. Thanks for the quick new release!

[2021-06-21 20:22] exalented opened #76 "[BUG] Release v0.8.0-0.8.1 garbled audio"
**Describe the bug**
Garbled audio. Tested with all backends. **This problem does not occur with v0.7.12**

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Moonlight
2. Launch a game
3. Experience misunderstanding of audio.

**Expected behavior**
Understandable audio

**LG webOS TV:**
 - Model: 65NANO90UNA
 - webOS version: 5.2.3-252105
 - software version: 03.23.05

**Additional conte

[2021-06-21 22:56] mariotaku commented on #76
Is your decoder SMP now? How about NDL?

[2021-06-22 07:25] exalented commented on #76
From what I tested only pulse seemed to work.

[2021-06-22 13:04] mariotaku commented on #76
How about to specify decoder to NDL? It should come with a working decoder, unless your host is transmitting wrong audio data. According to the log there's chance.

[2021-06-22 13:18] exalented commented on #76
In v7.12 I'll choose NDL as backend, restart, go to settings and it shows the backend as SDL. Launching a game works fine as there's no audio garble and again it says SDL in the stats screen. The same exact situation happens with v8.0 except there's audio garble. And again when I specify to use SDL in v8.0 it shows the backend as PulseAudio both in the menu and in the stats screen when I launch a

[2021-06-22 20:51] exalented commented on #76
With v0.8.2 comes a new core. This makes the client compatible with Sunshine servers v7.X moving forward; however, for this TV you're going to want to use the NDL backend. *As a side note Sunshine v7.1 isn't able to perform nvenc so you're going to want to force software mode, for example, to get a picture that isn't just rendered black.*

[2021-06-22 20:51] #76 closed

[2021-06-23 05:21] exalented commented on #72
You can remedy this by adding the same server multiple times. It is then more likely that upon backgrounding/closing the app your server will be there, but it doesn't completely get rid of the issue.

[2021-06-24 06:10] exalented opened #77 "[BUG] Massive Network Frame Drop"
**Describe the bug**
Client starts experiencing massive frame drop after ~15 minutes of play. This is extremely immersion breaking.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a session from sunshine server.
2. Use a controller for ~15minutes
3. Client will start dropping anywhere from 50-90% of frames; however, this is not reflected in the Performance States pane. Audio seems unaf

[2021-06-24 14:41] mariotaku commented on #77
This is indeed some mysterious bug. I'll share in the channel to see if others are experiencing that.

[2021-06-24 19:57] JulioSanchezD opened #78 "[BUG] Color degradation in some games"
**Describe the bug**
Colors starts to degrade (usually turns into purple) in some areas of the screen while playing some games. Usually this areas are the ones that are not moving on the screen.
I have seen this issue being manifested in two ways, for two different games:

1. For Assetto Corsa Competizione the game looks fine but 1 minute or so later some pixels starts to show different, around th

[2021-06-26 13:07] bnjroos commented on #35
Same issue here, sound but no picture, same firmware 05.30.11, different tv.

[2021-06-28 06:05] antargame opened #79 "[BUG] audio not working on latest version .8.2"
No sound but video is available. Tried restarting both host and client. Oh UJ6300 on top  version 06.00.03 . This might be a comparability issue as I am able to get audio working on normal clients like my laptop. Any ideas? It probably just boils down to compatibility right? Any ideas would be appreciated:) thanks in advanced.

[2021-06-28 06:12] antargame commented on #79
It also will not allow me to input custom ips for the host or change the audio decode

[2021-06-28 06:41] mariotaku commented on #79
Might be related to #67 . What is the current decoder and audio backend?

[2021-06-28 19:53] antargame commented on #79
i can not change the current decoder or the audio backend so i couldnt tell you. It is set to automatic and will not let me select a codec or decoder.

[2021-06-29 04:34] mariotaku commented on #79
According to your TV, it's running webOS 3.9 isn't it? What did you get if you change audio backend?

[2021-06-29 06:25] antargame commented on #79
i am unable to change the audio backend. The menu will not allow me to. I am selecting the button but it wont let me switch it.

[2021-06-29 10:58] mariotaku commented on #79
I see, your TV doesn't come with magic remote right? I'll improve that in next release.

[2021-07-04 14:53] goodandrewsoft opened #80 "Installing Moonlight on TV - link is broken"
http://webostv.developer.lge.com/sdk/tools/using-webos-tv-cli/testing-web-app-cli/#Installing_Web_Application

Please fix link

[2021-07-05 05:59] mariotaku opened #81 "Relative mouse option (for other platforms)"

[2021-07-13 09:32] tranbaohuu opened #82 "[BUG] LG Model: LJ550T , WebOS 06.00.04 crash when 2nd launches"
Dear developers
My TV after first time connected  then CRASH when the second time launches. I think bug from the WebOS version 06.00.04. I remember last time on previous version WebOS everything worked well. I've tried uninstall/ reinstall but it's same.

Regards

[2021-07-14 01:44] mariotaku commented on #82
Could you install old versions to see which version breaks on your TV?

[2021-07-15 08:24] tranbaohuu commented on #82
Let me try then reply to you !

[2021-07-16 10:18] tranbaohuu commented on #82
I've tried 0.8.2, 0.8,1   but they're same issue !

[2021-07-16 16:43] mariotaku commented on #82
Sounds like your system is running webOS 6, that's the information listed when you open Moonlight Settings - About?

[2021-07-17 12:27] tranbaohuu commented on #82
Let me explain
For the first time connected then played everything were good. After exit then re-open  MoonLight i did not see the IP of my PC that I've added, then I've tried to add PC again and crash when I've clicked on the input  field. Crash back to default TV page. But when I've tried to remove then reinstall again app it's crash like above, 1st  ok, 2nd crash.

[2021-07-17 13:34] mariotaku commented on #82
I see. This sounds like something I can fix. What exactly is your system version? You can find them by open Moonlight Settings - About.

[2021-07-18 11:59] mariotaku commented on #80
Thanks, links has been updated.

[2021-07-18 11:59] #80 closed

[2021-07-19 10:18] tranbaohuu commented on #82
I just tried your latest version 9.0 but it's still not working. You can see on 2 videos below for more information.

https://youtu.be/Z7And3VDGjA

https://youtu.be/3gVbCz8X-Kw

[2021-07-19 10:30] tranbaohuu commented on #82
I see it but i don't understand on 2 versions 6.x.x and 3.x.x just give you. One inside setting and another on ML![IMG20210719172753.jpg](https://user-images.githubusercontent.com/10123641/126146737-114f2f32-83b4-439b-82d3-eb4b64e8b3a1.jpg)

![IMG20210719172826.jpg](https://user-images.githubusercontent.com/10123641/126146769-dad159f0-ec38-4c6e-b35f-b2752b55b99a.jpg)

[2021-07-19 16:06] mariotaku commented on #82
@tranbaohuu Thank you. This information should be enough to fix this issue. I'll work on this.

[2021-07-19 16:20] mariotaku commented on #79
@antargame You're now able to select other audio backends, I think SDL audio will work at least.

[2021-07-19 16:30] antargame commented on #79
thanks so much for doing all of this. i will check if this fixed it later and respond back

[2021-07-21 03:15] raeldor commented on #35
How can I change the codec?  I'm also have the no video issue on 4.3.0.  Thanks.

[2021-07-21 04:36] mariotaku commented on #35
@raeldor It's in Settings - Decoder Settings. Try NDL or NetCast Legacy. For Audio you can use automatic.

[2021-07-22 05:12] raeldor commented on #35
Ah, this means changing/rebuilding the app?  It can't be done from the app itself?  Is compatibility with 4.30 going to be fixed in the next version?  Is anyone working on the root cause?  Thanks.

[2021-07-22 22:30] gricardo93 opened #83 "[COMPAT] 50UK6520PSA WebOS 4.4.0 1440p and 4K doesn't work"
## Basic information

 - Device model: (50UK6520PSA )
 - Firmware version: ( 05.40.06)
 - webOS version: (4.4.0)
 - Moonlight version: ( 0.9.0 )
 - Is audio working: ( Yes)
 - Is video working: (1080p60)
 - Is input working: (Gamepad, Remote)

## Description

Great app!! It worked on my TV, but unfortunately only 1080p60fps using webOS NDL or Netcast Legacy decoder. On both, when I select 1440p or

[2021-07-23 04:52] KeepSummerSaf3 commented on #74
Maybe a related issue. In this case I am attempting to add a host, the window to enter the host IP is available; however, as soon as it is selected with the pointer the app will crash. Note, I am using a "virtual magic remote" (phone app) as the physical remote only has a dpad.
[moonlight.log](https://github.com/mariotaku/moonlight-tv/files/6866649/moonlight.log)

[2021-07-23 17:37] Dutisto opened #84 "[COMPAT] Can't Discover Host or Input IP Address"
## Basic information
 - Device model: 43UK6300PLB
 - Firmware version: 05.40.06
 - webOS version: 4.3.0
 - Moonlight version: 0.9.0
 - Is audio working: No
 - Is video working: No
 - Is input working: No

## Description

Moonlight doesn't detect my GameStream PC, despite other devices can. If I want to enter the IP manually, I can't enter text into the box.

I said that nothing works because I cou

[2021-07-25 11:17] sachamorgese opened #85 "[COMPAT] Black screen on LG OLED55B8SLC"
## Basic information
 - Device model: OLED55B8SLC
 - Firmware version: 05.30.20
 - webOS version: 4.3.0-9606
 - Moonlight version: 0.9
 - Is audio working: Yes
 - Is video working:  No, no resolution/framerate/bitrate change seems to make any difference
 - Is input working: Yes, as in, the magic remote works seen on the desktop screen

## Description
Moonlight on my TV just gives me a black screen

[2021-07-25 13:03] sachamorgese commented on #85
I just realized this is already being discussed in #35, so I'm closing it.

I hope you'll be able to find a solution soon. I'm following the other issue.

[2021-07-25 13:03] #85 closed

[2021-07-25 13:04] sachamorgese commented on #35
I have the same problem with an OLED55B8SLC. Everything works except for the video, with the latest version. I haven't tried an older version yet.

My firmware is 05.30.20

[2021-07-27 21:13] exalented opened #86 "Non-standard input device support"
**Is your feature request related to a problem? Please describe.**
I am trying to attach a "Harmonix Guitar Controller for Nintendo Wii" adapter to play clonehero through moonlight. moonlight-android *detects* the device using a usb-a to usb-c adapter, but it improperly reconizes it as an Xbox360 controller. This introduces other issues within the game as some buttons on the controller map to the

[2021-07-28 00:45] mariotaku commented on #86
AFAIK GFE/Moonlight only recognize generic gamepad. (ABXY, DPad, thumbsticks, triggers, etc). What is the button layout of the input device?

[2021-07-28 01:04] exalented commented on #86
I do not know what it uses for input (xinput, dinput, etc).
https://miltonwares.com/wp-content/uploads/2019/08/20190712_222737540_iOS.jpg

[2021-07-28 01:53] mariotaku commented on #86
After double checking Moonlight's core, I'm pretty sure there's no native way to do that. If you're OK with rooting, you can use https://virtualhere.com/usb_server_software to achieve that.

[2021-07-28 01:54] mariotaku commented on #86
Another not so elegant way is to map guitar controller to keyboard. But you will need manual config to do that.

[2021-07-28 02:17] mariotaku commented on #77
Does this still happen? I haven't been able to reproduce yet.

[2021-07-28 02:18] mariotaku commented on #39
I think this issue can be closed. If you encounter any issue, feel free to create a new one.

[2021-07-28 02:18] #39 closed

[2021-07-28 02:49] exalented commented on #77
Yes this still happens.

[2021-07-28 04:11] exalented commented on #86
So it's best to close this issue as any changes would have to be made upstream correct?

[2021-07-28 04:35] mariotaku commented on #86
@exalented I don't think upstream can do anything about that. You need either use another product to handle USB, or I can add joypad-to-key mapping in moonlight-tv, although doing it on a TV would likely to be a pain.

[2021-07-28 04:44] mariotaku commented on #54
There's not much I can do technically for this issue. But the information is very useful, so I'll be converting this into a discussion.

[2021-07-28 04:45] #54 closed

[2021-07-28 04:50] exalented commented on #86
IMHO joypad-to-key seems like it would be a pretty hacky sollution so where to go from here?

[2021-07-28 04:53] mariotaku commented on #86
It's not a thing yet, but if I'm doing it, I'll create some configuration format, to map buttons to keyboard input for certain joystick. Because GFE lacks raw joystick support.

[2021-07-28 09:11] mariotaku opened #90 "Option to Swap ABXY buttons"

[2021-07-28 11:23] mariotaku commented on #77
Did you remember when this issue starts?

[2021-07-28 15:54] exalented commented on #77
I remember this happening all the way back in 5.2.

[2021-07-29 02:55] exalented opened #91 "[BUG] Gamestream server list display issue"
**Describe the bug**
This is a visual bug. The Gamestream server list sometimes displays your server many times and upon exiting will

**To Reproduce**
Steps to reproduce the behavior:
1. Uninstall moonlight (this will erase the config)
2. Install moonlight
3. Pair your server
4. Click the X to close the app
5. Look in your list of Gamestream servers to see that *visually* it's been duplicated.
6.

[2021-07-30 07:40] mariotaku commented on #83
Did you tried to lower the bitrate? As some TV may not have ability to stream 1440p/4K video.

[2021-07-30 07:40] #81 closed

[2021-07-30 17:02] mariotaku commented on #72
Time for a revisit. Let's see if it works now.

[2021-07-30 17:10] exalented commented on #91
Release v0.9.2 and commit 3be43c6c0d6fcac9e562b58a2dbbab2646ee8f0f resolves this issue. 👍

[2021-07-30 17:10] #91 closed

[2021-07-30 17:25] exalented commented on #72
Right! This issue has been resolved as well in conjunction with #91 ! Great job!

[2021-07-30 17:41] exalented commented on #72
Sorry for prematurely closing this issue, but after restarting the client more than 3 times it seems this issue is still apparent in v0.9.2 of moonlight-tv

[2021-07-30 17:58] exalented commented on #72
The hosts.conf file seems to get corrupted. The file still exists during this entire process, but once cat'd shows:
`LIBXML2_2.6.28 = ???` with no return carriage which makes my tv terminal display: `LIBXML2_2.6.28 = ???~ $ `. Then the only way to get the hosts.conf file saved again without uninstalling the application is to add your server then hit the drop-down menu and click on it. Upon closing

[2021-07-30 18:53] exalented commented on #74
Also note that the app won't crash if you only open the add server dialogue. You have to select the input field to type in an ip for it to crash.

[2021-07-31 00:34] exalented commented on #72
0eb8c67ab4f633fc3eeed0c77e6bf7122e744df6 resolves this issue.

[2021-07-31 00:34] #72 closed

[2021-07-31 00:36] exalented commented on #77
I am able to reproduce this issue less and less lately. Is anyone else still experiencing this?

[2021-07-31 06:07] mariotaku commented on #86
Just wanted to give some uncertain good news. GFE may have a way to send raw HID input event. I'll do some research for that.

[2021-07-31 15:38] mariotaku commented on #82
@tranbaohuu I have updated 0.9.3 version, maybe it will work on your TV.

[2021-07-31 15:48] mariotaku commented on #78
This is so strange that I can't think of any reason. On your TV there are SMP and NDL decoder available, maybe using another one would have different result.

[2021-07-31 15:57] tranbaohuu commented on #82
Thank for your contribute ! wish you have a good weekend !

[2021-07-31 16:15] mariotaku commented on #82
@tranbaohuu Wish you could also enjoy gaming. Let me know if there are any problem :)

[2021-08-02 04:50] raeldor commented on #86
Have you looked into this for controller support with re-mapping etc...?
https://www.consoletuner.com/products/titan-one/

[2021-08-03 12:41] #82 closed

[2021-08-03 12:42] tranbaohuu commented on #82
![IMG20210803194002.jpg](https://user-images.githubusercontent.com/10123641/128017159-27fb7738-4917-4f09-91e8-f76b1b7b0ee4.jpg)

Great is back!

[2021-08-07 18:16] exalented commented on #77
I was just able to reproduce this and have some more details. Now Network Frame Drop stays at 0.00%, but the client lags and skips frames. Nothing in the details pane seems off. Utilizing the NDL decoder and an XBox One Remote. This happened ~10minutes in without even touching the controller, but once at the beginning on the session.

[2021-08-09 21:15] exalented commented on #77
Interesting observation: I was streaming Super Smash Bros Ultimate and I noticed that all of a sudden Yuzu dropped from a very smooth 60fps to 1 fps in the bottom right and frame time showed naan while gamespeed slowed to a near halt. This was observed with Yuzu EA version 1981. Only when I performed the magic remote mitigation did the emulator jump right back up to 60fps; thus, I believe this is

[2021-08-09 21:41] exalented commented on #77
After further testing with the android client this bug appears there as well and is therefore most likely a sunshine server issue.

[2021-08-09 21:41] #77 closed

[2021-08-11 21:37] florank opened #92 "[BUG] Stuttering on LG B9"
I was using Moonlight on WebOS with my LG TV B9 and it was working 2 months ago, but today I wanted to reinstall it and it's now stuttering whatever the settings are.

I installed moonlight from the "Device manager", while I installed it with CLI the previous time (but I'm not dev and it's annoying to use CLI), so I wanted to try the Device manager, it installed it very fast.

Because I have a 21/

[2021-08-12 11:40] florank commented on #92
It look like it's the same with LAN ...

Decoder : webOS SMP (H265)
Audio backend : NDL Audio
Network RTT : 30ms (var. 40ms) aproximately but sometimes it changes to 94ms etc ... looks unstable
Network framerate : 30 FPS
Network frame drop : around 36%
Decode time : around 0.50 ms

[2021-08-12 15:31] mariotaku commented on #92
30ms RTT is unacceptable. Under no circumstances it should over 10ms (actually should be under 5ms). What's the bitrate? If it's too high, try lower down to 35mbps. Or try use 1080p to see if it's improved.

[2021-08-14 16:05] JulioSanchezD commented on #78
I have tried both decoders and sooner or later they will present this problem. What I have found is that in 1080p the problem doesn't exist, doesn't matter which decoder I'm using. But 4k and 2k happens to present this problem on certain games, on certain areas. The only game I have found to persistently show this issue is Asseto Corsa Competizione.

[2021-08-15 06:35] mariotaku commented on #78
Is it possible that this game is HDR supported?

[2021-08-15 15:06] choboko commented on #78
I'm having a similar issue. It happens, as described in the first post, whenever the game stays in the same place for a while (or moves very little). Whenever you move the camera, it goes away in that spot. It happens with both decoders. I've tried enabling and disabling HDR, but the problem persists. Here's my setup:

• Latest version of Moonlight TV
• WebOS 05.00.25
• Model SM8000PSA

Here's an

[2021-08-15 17:40] florank commented on #92
But I am already under. I am at 20mbps, in 1080. As you can see in the topic, I tried many settings (1080p, 720p, from a low to a high bitrate...) and the problem is still happening

I dont understand because there is no change than when I've used it 3 months ago so I don't know why it is stuttering

[2021-08-15 20:51] valexus commented on #92
I have the same LG TV B9, also installed using the latest Device/DevMode Manager, not getting the stutter though. Instead I'm getting the Pairing Failed 'no element found'. It says it fails but I can see the application list. When trying to stream, it gets Connection failed on RTSP Handshake. Error Code=110
Tried changing the res 720p/1080p, video/audio encoder to no avail, I can stream well to th

[2021-08-16 08:16] mariotaku commented on #92
@florank How about to try older version? If it works fine in older version but newer, maybe there's something wrong with the code. Otherwise it's more likely that there's some interference between your router and your TV. As your neighbour might setup a new network and has same frequency of yours.

[2021-08-16 08:19] mariotaku commented on #92
@valexus Sounds like it failed to pair or launch the game. The reason is not quite clear yet. But did you tried to reboot your computer?

[2021-08-16 08:22] mariotaku commented on #78
Is it possible that this is due to packet loss? Are you connecting wirelessly or via ethernet?

[2021-08-16 08:34] valexus commented on #92
@mariotaku well I sort of given up trying using the dev-manager, I installed using the CLI, started it on the CLI and used the codec settings with Netcast Legacy & Pulse Audio. Seems to work fine now 720p/1080p. I thought the 'no element found' error had to do with the JSON settings on the app as I didn't put any description on it.

[2021-08-16 08:36] mariotaku commented on #92
@valexus "no element found" is some parsing error from host response, but anyway it's good to see it work. Installing via dev-manager should be the same as dev-manager is actually a graphical frontend of CLI.

[2021-08-16 09:07] florank commented on #92
Just tried with the old version I had before  (0.7.10) and the problem stil happens. But how you explain that when I ping the TV in local network there is no problem with 2/3ms ? Are you sure the problem is caused by RTT ?

[2021-08-16 09:35] mariotaku commented on #92
@florank More like caused by jitters. I noticed some weird packet loss/ping increases when stuttering occurs. Then I found my router has adjusted its frequency to 50+ which has DFS/TPC. I'm not an expert of that but if such feature kicks in, I can observe apparent ping increases. So I adjusted my router to stick to channel 42. Then it seems that stutter was gone. You may want to refer to [this pag

[2021-08-16 10:20] florank commented on #92
Ok I tried to make some changes on the router settings, by changing channels for 5Ghz, still in auto but it changes from 52 to 36 and it seems that work really better for the moment, no stutters.

[2021-08-16 12:03] choboko commented on #78
I tried both ways, it happens either way. My PC is connected via ethernet, but I'm using wireless right now on the TV because 4k streaming won't work with the ethernet cable for me. Also, my PC doesn't have a monitor plugged in, I'm using a 4k dummy plug, idk if that's relevant.

[2021-08-16 16:22] mariotaku commented on #78
@choboko I don't think it's relevant to virtual monitor, shouldn't be though. But anyway I think currently there's nothing I can do for this. Let's keep it till someone understands what causes corrupted images.

[2021-08-22 14:07] florank commented on #92
So, I don't have any stutters since I made the changes but I have a real input lag (that is not directly from input but more from the transmission) that is a problem for example on racing games. I am now at 2/4ms which seems good in wifi (could be better ?).

With the H.265 codec, I have a little bit of lag, and on H.264, lag is almost intangible but "decode time" is higher than H.265, is it norma

[2021-08-22 14:36] mariotaku commented on #92
@florank Usually H265 will cost more computing power on both ends. So I think for extreme performance, H264 might be better.

[2021-08-28 21:01] florank commented on #92
Hello,
So, I thought it was working 6 days ago when I answered, with H264, but finally not.
I'm starting to guess this is a TV or software/os problem, because I have a steam link in my bedroom and it works perfectly :/

[2021-08-29 09:57] mariotaku commented on #92
@florank maybe your router is switching to other channels? Is it still on 36 now?

[2021-09-02 23:57] raeldor commented on #35
Tried again after latest software update (05.40.09) just a black screen after launching game now. :(

[2021-09-03 06:11] mariotaku commented on #35
@raeldor Is it still webOS 4.3.0? 05.40.09 is firmware version and is not related to system version.

[2021-09-03 19:51] matsomania opened #93 "[COMPAT]"
## Basic information

 - Device model: ( 50UN7000PUC)
 - Firmware version: (5.2.3 i think sorry can't find it)
 - webOS version: (  5.2.3   )
 - Moonlight version: (   0.9.6    )
 - Is audio working: (      no )
 - Is video working: (  no     )
 - Is input working: (   no    )

## Description
Unable to find host pc, other moonlight devices can and do connect.

[2021-09-03 23:17] matsomania commented on #93
After a period of time it just worked and my desktop appeared

[2021-09-03 23:17] #93 closed

[2021-09-04 04:46] chris542 commented on #92
I think i'm having a similar issue on my LG C1.

I just installed moonlight today with the latest version. I'm getting stutter every second consistently. Tried changing the resolution from 4k down to 720, but all has the same stuttering effect.

[2021-09-04 07:58] mariotaku commented on #92
@chris542 The possible solution still applies. What's your routers WiFi channel? Under 50 you might be able to get uninterrupted experience.

[2021-09-07 19:57] Phoenixmatrix opened #94 "[BUG] Significant audio latency"
**Describe the bug**
Video works flawlessly, extremely low latency. Unfortunately the audio is delayed about 0.3s.

Using v0.9.6. I've tried a couple of random earlier versions, mainly around other audio bug fixes (eg: the 0.7.1 release) but I couldn't get those to stream at all. I did look at earlier issues and it sounds like when audio got fixed, people testing it did mention the audio latency.

[2021-09-08 01:49] mariotaku commented on #94
According to the firmware version ( the version you shared is actually not webOS version), your TV should be running 3.x. Did you tried NetCast legacy decoder and default audio backend?

[2021-09-08 02:59] mariotaku commented on #94
Hmm, PulseAudio is indeed a sub-optimal solution when any other doesn't work. I'll see if other audio interfaces works on webOS.

[2021-09-08 08:25] chris542 commented on #92
@mariotaku if you mean by channel bandwidth, i had it set at 20/40/80MHz, which i think is an 'auto'. Should i change this value to 20MHz?

[2021-09-08 08:27] mariotaku commented on #92
@chris542 For bandwidth you can leave it as is. What you need to change is channel. It usually located near the bandwidth option, and have a wide range to select based on the region you're in.

[2021-09-09 02:39] chris542 commented on #92
@mariotaku i use asus router. Do you know what exact the option is called...? I cant seem to find it

[2021-09-09 02:48] mariotaku commented on #92
@chris542 I did a quick search, and it should be "Control Channel". Changing that may help.

[2021-09-10 03:57] Alejandro19851985 commented on #35
@mariotaku  hi! first of all thank u for ur amazing job with the moonlight tv app for lg tv´s, im having the same problem like a lot of people on the coments i have an lg tv mod. 49lk5700psc web os ver. is 05.40.09 my gpu it´s gtx750 i´ve been getting black screen on lg tv but the game sound hears perfect the game pad seems to be working too, i think its a resolution thing or dont know if its a re

[2021-09-10 22:46] odracirnumira opened #95 "[COMPAT] OLED55CXPUA video works with wifi, does not work with Ethernet"
## Basic information

 - Device model: OLED55CXPUA
 - Firmware version: 03.23.25
 - webOS version: 5.2.3-290910
 - Moonlight version: 0.9.6
 - Is audio working: Yes
 - Is video working: No
 - Is input working: Yes

## Description

I'm facing a weird issue. I have Moonlight installed on my OLED55CXPUA TV, and everything works fine if the TV is connected to my local network via wifi.

However, if th

[2021-09-11 02:35] raeldor commented on #95
This is very interesting, as I have a similar issue when I also get a single frame and then it freezes.  My TV is also connected via ethernet.  If this really is a network adapter issue then this could be a big clue to finally get this fixed.

[2021-09-12 19:32] florank commented on #92
Did you solved ?
Me not, I’m so disappointed …

[2021-09-12 20:45] florank commented on #92
@mariotaku i’m sorry, that’s strange but I have not the problem with any other device. I tried with iOS app, Mac app, I tried streaming with a steam link, and that’s only with Moonlight on webOS that I have the problem …

i can stream in 4K without any problem with moonlight on another device but on tv 720p is stuttering even on h264 and h265

[2021-09-14 12:34] LastOrderSK opened #96 "[COMPAT] Can't pair PC and TV in local network, RTSP handshake failed error 552"
## Basic information

 - Device model: 43UH650V-ZB
 - Firmware version: 05.60.25
 - webOS version: 3.4.0
 - Moonlight version: 0.9.6
 - Is audio working: No
 - Is video working: No
 - Is input working: Yes, I can connect my mouse and use my remote in the Moonlight app

## Description

For the past few days I've tried connecting my PC and LG TV locally to play games, both connected to ethernet.
I h

[2021-09-14 15:06] mariotaku commented on #96
This was some issue that I never been able to reproduce. It seems that it also happens quite often on moonlight-embedded based implementations. Maybe logs from your host will provide some information. They are located in `C:\ProgramData\NVIDIA Corporation\NvStream`.

[2021-09-14 17:41] LastOrderSK commented on #96
[NvStreamerCurrent.log](https://github.com/mariotaku/moonlight-tv/files/7163806/NvStreamerCurrent.log)
[NvStreamerOld.log](https://github.com/mariotaku/moonlight-tv/files/7163807/NvStreamerOld.log)

Okay, this is interesting. I tried pairing two times in a row and it actually paired the second time. I didn't do anything. So I'll attach both logs.

The "NvStreamerOld" log was created first when it

[2021-09-14 18:29] mariotaku commented on #96
Thank you. I'll compare two logs when I'm available.

[2021-09-14 20:55] eclarke12 commented on #95
I can confirm I had the same experience: on ethernet I would get about a frame or two of the stream then it would die. On wifi, no issues.

I have my Moonlight output set to 4k120 HDR 60mbps. Let me know if there's anything else I can add.

[2021-09-22 02:11] #90 closed

[2021-09-23 14:07] ThonMayo commented on #92
Hi, I've just created an account so I can participate in this thread.

I've recently bought a LG G1, and I'm also encountering constant stuttering (every 1-2 seconds) with the latest moonlight version installed with the Device Manager app.  This happens on every resolution and bitrate.  I'm quite clueless on where the issue stands.  Originally thought it was my ISP router that was the weak point (

[2021-09-26 08:25] exalented commented on #77
Display Power Management was configured in the X server. This was the culprit here.

[2021-09-27 16:49] aomader commented on #94
I second this. The only working audio decoder is PulseAudio, but the usage of it results in audio with a severe lag.

[2021-09-28 16:31] mariotaku commented on #74
Maybe it's some bug inside SDL shipped with webOS, but I did some major UI change, what about now?

[2021-09-28 16:36] KeepSummerSaf3 commented on #74
Awesome! While I may not have the same issue (or it may be different since I am using a virtual magic remote) I will retry today and report back.

[2021-09-29 00:16] exalented opened #97 "[BUG] Rare Settings UI hard crash"
**Describe the bug**
When one moves in and out of the settings UI the client sometimes crashes.

**To Reproduce**
Steps to reproduce the behavior. Repeat steps 2 and 3 consecutively.:
1. Launch moonlight
2. Click on settings
3. Exit settings
4. hard crash

**Expected behavior**
No crashing plz

**LG webOS TV:**
 - Model: 65NANO90UNA
 - webOS version 5.2.3-252111

**Additional context**
This is eas

[2021-09-29 00:32] exalented commented on #74
I am unable to reproduce this across many versions of moonlight-tv after a WebOS update to v5.2.3-252111.

[2021-09-29 02:28] mariotaku commented on #74
Great. I'll close this for now.

[2021-09-29 02:28] #74 closed

[2021-09-29 03:09] KeepSummerSaf3 commented on #74
Realize this is closed, but I can also confirm 0.9.92 works with the virtual magic remote. direct input through the app or virtual keyboard works without crashing the application. Minor issue with selecting and holding focus for the virtual keyboard; workaround is to close and re-open the window.

[2021-09-30 11:26] exalented commented on #78
I've got a few questions @choboko @JulioSanchezD :
- Which platform is this happening on?
- Does this only happen when you don't have a physical monitor attached? How do you have it setup?
- Are you running GFE or sunshine?
- How is the game in question rendering the game? Vulkan/OpenGL/DirectX/Another?

As a reference I've not been able to repro this using sunshine + Arch Linux + X + llvm render

[2021-09-30 16:14] mariotaku opened #99 "Screenshot for 1.x"
![capture2](https://user-images.githubusercontent.com/830358/135492540-5dae06fc-9653-4ff5-a6f3-c714ba0b58ac.png)
![capture3](https://user-images.githubusercontent.com/830358/135492547-6f9789a0-ae8a-42c9-ac11-7ecf921c83a0.png)
![capture1](https://user-images.githubusercontent.com/830358/135492550-fb3a3e4f-4835-4fde-93d7-c2761e85a712.png)

[2021-09-30 16:20] #99 closed

[2021-09-30 17:08] mariotaku commented on #97
Might be fixed in v0.9.93. Let's see.

[2021-09-30 17:17] exalented commented on #97
Unfortunately not. I've added more logs.

[2021-10-01 16:09] JulioSanchezD commented on #78
@exalented

- I'm running GFE
- Windows
- DirectX
- Nvidia RTX 2060 GeForce Game Ready Driver 472.12 (I've just updated it, don't remember which one I had when I ran into this issue, I haven't check if problem persists with this new driver)
- I have a physical monitor attached, always, and ethernet connection is wired.
- Haven't played whit bitrates, I always max out this value

My monitor is an u

[2021-10-01 19:34] choboko commented on #78
@exalented , here are my specs:

• GFE
• Windows 10
• DirectX
• RTX 2070 with 472.12 drivers
• i don't have a physical monitor here, so i can't test this. The PC is set up using the HDMI 4k dummy plug and connected using ethernet to the router. My TV is using wireless connection, otherwise it wouldn't run in 4k.
• Moonlight-TV 0.9.6 (the latest version gives me a black screen)
• It happens in 4k a

[2021-10-01 19:44] mariotaku commented on #78
@choboko I'm a bit interested in the black screen issue. Can you find the decoder selected, and your webOS version in moonlight settings? 05.00.25 is firmware version.

[2021-10-02 04:38] exalented commented on #78
Try lowering the bitrate of your stream. There's almost no reason to have it set to 60K. I always set mine to around 10K depending on resolution.

[2021-10-03 14:06] choboko commented on #78
@mariotaku here's the info you asked for:

•webOS version 4.9.3
•webOS NDL
•Firmware 05.10.25

I tried the new version with 1080 and it worked, and the color degradation bug was apparently gone. When i tried 4k, here's what happened:
![PXL_20211002_101923462](https://user-images.githubusercontent.com/7576451/135757193-f6fd712f-825e-4de0-b57f-cfea82d96e09.jpg)

[2021-10-03 15:53] mariotaku commented on #78
@choboko What's the bitrate you've set? Sometimes decoder won't work if it's too high.

[2021-10-03 19:20] choboko commented on #78
I tried with different bitrates, but even with the lowest possible (5K) it's not working with 4k. I had no problem with high bitrates in version 0.9.6.

[2021-10-03 23:15] dipar2009 opened #101 "[BUG] LG C1 not working"
When trying to launch a game, it says: Failed to start connection: Limelight returned 11

[2021-10-04 01:36] mariotaku commented on #78
@choboko Have you tried to use SMP decoder, and NDL audio in Settings - Decoder?

[2021-10-04 01:41] mariotaku commented on #101
Please check out [Troubleshooting Guide](https://github.com/mariotaku/moonlight-tv/wiki/Troubleshooting) to narrow down the causes of this issue.

[2021-10-04 02:01] mariotaku commented on #84
I have made a major update to the UI. Many reports that soft keyboard is working properly now. Could you try update and give it another shot?

[2021-10-04 21:46] dipar2009 commented on #101
Thank you for your reply. I tried to restart the Nvidia container but had no luck. I have a clean windows install btw. Is there anything else I could try to solve the problem?

[2021-10-04 23:51] mariotaku commented on #101
Does streaming work on other clients?

[2021-10-05 04:16] mariotaku commented on #101
Also did this version work for you? https://github.com/mariotaku/moonlight-tv/releases/tag/v0.9.6
Some people are experiencing similar issue after upgrading.

[2021-10-05 10:01] mariotaku commented on #101
Might be related to #96.

[2021-10-05 10:29] dipar2009 commented on #101
Yes it does

[2021-10-05 10:30] dipar2009 commented on #101
I will try it. Thanks

[2021-10-05 10:33] dipar2009 commented on #101
The error codes are different, but I will try to get the logs if I can and post them here.

[2021-10-05 11:25] mariotaku commented on #101
@dipar2009 Maybe it's because error message has been slightly changed in recent version. It's likely that error 552 is behind that.

[2021-10-06 15:36] mariotaku commented on #92
@chris542 Homebrew app's issue is another story. But it should work now.

[2021-10-06 16:13] dipar2009 commented on #101
That was the one I tried in the first place

[2021-10-06 16:51] mariotaku commented on #101
v0.9.96 is the version I released tonight, also it looks like v0.9.6.

[2021-10-06 23:32] dipar2009 commented on #92
How were you able to make it work on your C1? I can't even connect to the host PC. I get error 11 on the latest version.

[2021-10-07 16:04] pagratios opened #102 "Option to disable Magic Controller as input"
It seems that Magic Remote Controller is recognized as 1st controller to games which games such as eFootball is a problem

It would be useful to have an option to disable the magic remote as a controller

If that is already possible I couldn't find it
moonlight-tv: 0.9.96
WebOS: 4.9.3
Firmware: 05.10.25
TV LG C9

[2021-10-08 17:01] cpetry opened #103 "Wake on Lan"
**Is your feature request related to a problem? Please describe.**
This feature already existed in the last versions.
A button to send a wake on lan request to a known host.

**Describe the solution you'd like**
A button to click on.

**Describe alternatives you've considered**

**Additional context**
Just a reminder that this feature is real handy 🙂

[2021-10-08 17:59] pagratios commented on #102
Next week I will own 2x8bitdo, I will try both of them to eFootball2021 to test if both of them will be recognized as 1st and 2nd.
@mariotaku  when I tried efootball2021 I used xbox elite with USB cable and it is recognized as 2nd controller (1st was magic remote)

[2021-10-08 18:01] mariotaku commented on #102
Just a bit curious, how can you make sure the remote was treated as a controller? In my code I never did that...

[2021-10-09 19:01] Mavrik89 opened #106 "An inconvenient GUI activation issue"
## Basic information

 - Device model: (   49UJ6309-ZA    )
 - Firmware version: (    06.00.15   )
 - webOS version: (    3.9.0   )
 - Moonlight version: (   0.9.96    )
 - Is audio working: (  yes     )
 - Is video working: (   yes    )
 - Is input working: (   yes    )

## Description

After launching the app the GUI can neither be activated with the remote nor with a Gamepad; I have to click wi

[2021-10-10 01:58] mariotaku commented on #106
Indeed this is not well documented. You can long press back button (or exit button on some remotes). Or press Select + Start + LB + RB.

[2021-10-10 03:14] mariotaku commented on #103
Yep, doing it!

[2021-10-10 13:10] mariotaku commented on #106
Should be fixed in v0.9.97. Please let me know after you tried.

[2021-10-10 19:49] dipar2009 commented on #96
Did anyone figure this out? I'm having error 11 which is supposed to be related with 552 (?)

[2021-10-11 01:07] #103 closed

[2021-10-11 01:33] mariotaku commented on #84
Closing for now. Please comment if it still doesn't work.

[2021-10-11 01:33] #84 closed

[2021-10-11 01:35] mariotaku commented on #79
Now there are multiple audio backends. Some should work (but with higher latency). Please let me know if sound still not working.

[2021-10-11 01:35] #79 closed

[2021-10-11 02:01] ryanturcotte commented on #106
![IMG_0022 (2)](https://user-images.githubusercontent.com/1134047/136722970-9e770f64-e447-4188-b0ff-70b63b4ca6eb.JPEG)

This is what it looks like for me, 0.9.97 based on the homebrew manager. cant do anything with tv remote

[2021-10-11 03:55] #61 closed

[2021-10-11 04:04] ryanturcotte commented on #106
I can attest it is now working, shows the text of those things in left bar and allows you to navigate with TV remote. Thanks for the quick fix!

[2021-10-11 07:22] mariotaku commented on #101
Did some test, and got some conclusion. First, if you get error 110, then it means there's connection timeout happened between the TV and the computer. You may need to check firewall settings, or simply try to ping your TV to see if you can reach it.
For 552 is more or less a mystery. I never had a chance to reproduce it.

[2021-10-11 08:21] mariotaku commented on #106
v0.9.99 should fix issue above. You can press Back/B/Esc to close overlay now.

[2021-10-11 15:29] dipar2009 commented on #101
Ok I managed to ping it with success. Nevertheless, I still have error 11/552 :( Are there some other logs I can provide to help find the problem?

[2021-10-12 02:39] mariotaku commented on #101
I'm in Moonlight's discord server: https://moonlight-stream.org/discord

[2021-10-12 10:36] TekMystic opened #107 "Keyboard and mouse support"
**Is your feature request related to a problem? Please describe.**
Hi there, I was just wondering whether the lack of proper KB and mouse support as a valid playing option is due to WebOS limitation or an app limitation...  I can use the mouse, but only through WebOS; meaning the pink arrow won't go away and the mouse doesn't act normal, i.e is extremely fast or something

[2021-10-12 11:21] mariotaku commented on #107
In webOS mouse will always be treated as remote pointer. So far there is no way capture relative movement of mouse pointer. I'll take a closer look into event system and give you conclusion later.

[2021-10-13 01:41] mariotaku commented on #101
Nice! I'll close for now. In the future I'm planning to add decoder tests for an out-of-box experience.

[2021-10-13 01:41] #101 closed

[2021-10-13 15:51] mariotaku opened #108 "QR code to wiki page"
![download](https://user-images.githubusercontent.com/830358/137169174-b8672e8b-32b9-482b-a42a-1761c10a291f.png)

[2021-10-13 15:52] #108 closed

[2021-10-15 17:44] mariotaku opened #109 "Feature to bookmark games and put them on top"

[2021-10-16 13:22] AleksandrLiadov opened #110 "[BUG] RDXD_moonlight__Linux Crash"
**Describe the bug**

After the start any game, the app crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect with PC
2. Start any game

**Expected behavior**
I hoped to begin to play.

**LG webOS TV (please complete the following information):**
 - Model: [um7100plb]
 - webOS version [4.9.0]
 - Firmwareversion: 05.00.15

**Additional context**
Geforce experience: 3.23.0.74 (GTX 9

[2021-10-16 13:30] MrNikolaich opened #111 "[COMPAT] 43UK6300PLB"
## Basic information

 - Device model: (43UK6300PLB)
 - Firmware version: (05.40.09)
 - webOS version: (4.4.0)
 - Moonlight version: (1.0.1)
 - Is audio working: (Yes)
 - Is video working: (1080p60fps)
 - Is input working: (Gamepad)

## Description

Update: now it works! I just needed to run GeForce Experience (>_<). 720p and 1080p works perfectly. 1440p and 4K show black screen or artifacts on TV

[2021-10-16 15:16] mariotaku commented on #110
Did you tried other decoders? For example SMP or NetCast Legacy

[2021-10-16 17:08] AleksandrLiadov commented on #110
Yes, same thing for all 3 decoders :(
![image](https://user-images.githubusercontent.com/72351793/137596205-fb612b74-d9e7-4980-be51-ad055c9a9228.png)

[2021-10-16 18:31] mariotaku commented on #110
How about to change audio backend to something else like ALSA or SDL?

[2021-10-16 18:36] AleksandrLiadov commented on #110
Do you think that the probleme is audio codec? So why when I run the app from terminal it works?

[2021-10-16 18:38] mariotaku commented on #110
@AleksandrLiadov I can't say for sure. But according to the second crash dump, the crash occurred in `startAudioStream`. I assume you're accessing with root permission, so that might be some reason too.

[2021-10-16 20:15] Melonso opened #112 "[BUG] video freeze after some time"
Hello
I have oled 55B9 TV
5.10.30 webos
5GHz wifi
1440p video stream
when I play for about half an hour - an hour, the picture freezes but the sound goes on.  the only thing that helps is to exit the stream.  the first attempt to reconnect to the game crashes, connection time out (1).  the connection is successful the second time, but the situation repeats itself in a few - several minutes.

[2021-10-17 01:09] mariotaku commented on #111
Keep in mind that Moonlight is a *client* of the software mentioned above. Please refer to https://github.com/moonlight-stream/moonlight-docs/wiki/Setup-Guide#quick-setup-instructions to setup your PC.

[2021-10-17 01:11] mariotaku commented on #109
Maybe the issue isn't well described. But this issue is about a feature request to "book mark" games. It's not a topic/thread of sharing games.

[2021-10-17 02:45] mariotaku commented on #112
Please provide information below:

* Moonlight version
* webOS version (**not to be confused with firmware version 05.10.30**)
* Decoder using right now (SMP, NDL etc)

Also, did you try other decoders?

[2021-10-17 03:18] cgutman commented on #112
What is the Nvidia driver version on your host PC?

[2021-10-17 07:52] mariotaku commented on #109
![image](https://user-images.githubusercontent.com/830358/137616925-e7525152-ecef-4a94-b3a0-1a887ddce8ae.png)

[2021-10-17 09:07] Melonso commented on #112
web os is 05.10.30
Nvidia drivers 496.13
i try all codecs

[2021-10-17 09:07] Melonso commented on #112
moonlight 1.0.1

[2021-10-17 12:34] mariotaku commented on #112
@Melonso Could you please check system information in Moonlight Settings - About?
05.10.30 is **not** system version, but firmware version instead.

[2021-10-17 12:54] mariotaku commented on #112
I see. What's the decoder you're using now?

[2021-10-17 13:03] Melonso commented on #112
For now its NDL

[2021-10-17 13:44] Melonso commented on #112
Its the same i trying all codecs

[2021-10-17 13:51] mariotaku commented on #112
OK. What about the crashes? Do you mean Moonlight quits to your TV channels, or just showing the connection timeout error?

[2021-10-17 16:08] Melonso commented on #112
IT will be fixed in future versions ? Im asking about moonlight :) for now i make downgrade

[2021-10-17 21:52] dipar2009 opened #113 "Different refresh rates on source and streaming monitor"
My monitor is 1080p 60Hz and I'm trying to stream to a 120Hz 4K HDR TV. As mentioned [here](https://www.reddit.com/r/nvidia/comments/irc3m9/how_to_enable_120hz_modes_in_gamestreammoonlight/), it should work by creating a custom resolution on the Nvidia Control Panel. I went ahead and tried it, and can indeed apply it. In the UFO Test, the 120Hz test passes, but I can tell the video is only 60Hz (a

[2021-10-17 21:54] dipar2009 opened #114 "PS3 Controller - L2/R2 Treated as digital inputs"
The L2/R2 buttons do not work as analog inputs

[2021-10-18 01:22] mariotaku commented on #111
Nice! For higher resolution there's a chance that you TV doesn't support it. For now I'll close the issue.

[2021-10-18 01:22] #111 closed

[2021-10-18 01:36] mariotaku commented on #113
Did you try to use 1080p 120fps first? Right now NVIDIA cards on the market can't encode 4K 120fps yet.

[2021-10-18 01:53] mariotaku commented on #114
How do you use the controller, did you connect by USB cable or some adapters? Maybe the gamepad mapping to your controller is not well supported. You may want to checkout https://github.com/moonlight-stream/moonlight-docs/wiki/Gamepad-Mapping .

[2021-10-18 02:23] mariotaku commented on #107
Good news! I did some work to hide mouse cursor in streaming, and provide relative mouse movement. One thing to notice however, is the movement isn't really precise, even with your own mouse. It is how webOS handles mouse events.

[2021-10-18 02:23] mariotaku commented on #107
Download v1.1.0 to try it out.

[2021-10-18 02:23] #107 closed

[2021-10-18 15:27] #109 closed, assigned to nobody

[2021-10-18 19:26] dipar2009 commented on #113
I'm going to guess that isn't the problem because other people managed to do it with other versions of Moonlight (the desktop app I assume). I don't have a high refresh monitor or any other device that supports HDMI 2.0/2.1 (apart from my host PC) to test.

[2021-10-19 22:10] JM33 opened #115 "NDL seems to be broken on webOS 5 and 6"
After v1.0.0 session fails to open with automatic decoder.  Using settings I can switch from automatic to WebOS NDL and get the same result,  failed to open video decoder.  Netcast legacy option connects, but I get black screen and audio works.  Using WebOS SMP streaming works fine, seems to be a little worse performance than before.  But it still works, but on that setting only.

TV is LG C1, run

[2021-10-20 02:15] JM33 commented on #115
Ok installed v0.9.6 and can confirm decoder is working.  Webos NDL & SMP both work, automatic works also.

[2021-10-20 15:42] krnlpnck commented on #115
Hello,

I have the same issue, for > 0.9.98 it's giving me some limelight 15 issue which is weird because until I update yesterday with the latest 1.0 version it worked with some 0.9.9x version.

I have LG OLED55A13LA
Firmware version: 03.20.30
webOS version: 6.2.0

0.9.6 is working.

Thank you!

[2021-10-20 17:38] mariotaku commented on #115
@krnlpnck Great that you did such investigation. So it means the problem starts with v0.9.98 right?

[2021-10-22 01:58] mariotaku commented on #115
Debug log can be found in `/tmp/` actually, starting with `com.limelight.webos`.
Could you check the this and see if you can read the log? https://github.com/mariotaku/moonlight-tv/wiki/Troubleshooting

[2021-10-29 22:16] krnlpnck commented on #115
`C:\webOS_TV_SDK\CLI\bin>ares-novacom -r "cat /tmp/com.limelight.webos.log" --device tv
000000.000 [APP][INFO] Start Moonlight. Version 1.1.3
000000.532 [APP][WARN] Unable to load audio module: /media/developer/apps/usr/palm/applications/com.limelight.webos/lib/libmoonlight-ndlaud.so: undefined symbol: NDL_DirectAudioClose
000000.541 [APP][INFO] Decoder module: webOS SMP (smp requested)
000000.541

[2021-10-30 10:12] MrPerezident commented on #115
Also to add to this thread NDL streaming is also broken on webos 5.3.0 now, after an update to firmware version 4.30.10 on the LG CX 65inch

[2021-10-30 19:50] thehhmdb commented on #115
I also have the same issue after updating to the latest firmware on the LG CX

[2021-10-31 04:34] mariotaku commented on #115
Thank you! You're providing very useful information. Although it's not easy to get a cheap webOS 6 unit, but I may have access to an webOS 5 one. That may help me to solve this issue.

[2021-10-31 08:09] mariotaku commented on #115
Could anyone of you get v1.1.3 version, start streaming with NDL decoder (of course it will fail), and collect logs for me?

[2021-10-31 11:55] thehhmdb commented on #115
@mariotaku do you have any instructions to collect the logs? Device Manager for webOS is in a strange state for me where the terminal says:
"Connection error..."

The info tab works and shows the information like firmware version etc.

The apps tab says "Unable to load apps" but it does allow me to install apps. e.g. I can install the latest Moonlight

[2021-10-31 12:34] mariotaku commented on #115
Oh sorry that I forgot to update my progress. A new version of dev manager will be available soon.

[2021-10-31 18:01] mariotaku commented on #115
@thehhmdb When you update to dev manager v1.5.1, you can open Files page, navigate to /tmp/ by clicking the disk button on the bottom left corner, and then find `com.limelight.webos.log` directly. Then you can double click to open with your preferred app on PC.

[2021-10-31 18:17] thehhmdb commented on #115
@mariotaku thanks for the instructions, here's the log:

`000000.000 [APP][INFO] Start Moonlight. Version 1.1.3
000000.002 [Settings][INFO] Can't open configuration file: /media/developer/apps/usr/palm/applications/com.limelight.webos/conf/moonlight.conf
000000.319 [APP][INFO] Decoder module: webOS NDL (auto requested)
000000.319 [APP][INFO] Audio module: decoder implementation (auto requested)
00

[2021-11-01 12:54] AgentT-mo commented on #92
Hi everyone, just installed it today on my B9 for the first time and I also have the stuttering issue about every second.
It is independed to the bitrate.

[2021-11-01 17:46] mariotaku commented on #115
@thehhmdb It's interesting that you requested 4K120. Did you tried lower resolution/frame rates?

[2021-11-01 18:20] krnlpnck commented on #115
[code]

[2021-11-01 18:26] thehhmdb commented on #115
yes, it does the same at 1080p 60fps too, here's the log:
000000.005 [APP][INFO] Start Moonlight. Version 1.1.3
000000.262 [APP][INFO] Decoder module: webOS NDL (auto requested)
000000.262 [APP][INFO] Audio module: decoder implementation (auto requested)
000002.035 [Input][INFO] Input manager init, 195 game controller mappings loaded
000002.065 [UI][INFO] Display size changed to 1920 x 1080
000002

[2021-11-02 03:40] mariotaku commented on #115
Thank you. The information you've provided are very useful. I'll have access to an webOS TV later. Then I can manage to solve this.

[2021-11-02 20:40] JM33 commented on #115
I have also ran the v1.1.3 and here is the log

000000.002 [APP][INFO] Start Moonlight. Version 1.1.3
000000.267 [APP][WARN] Unable to load audio module: /media/developer/apps/usr/palm/applications/com.limelight.webos/lib/libmoonlight-ndlaud.so: undefined symbol: NDL_DirectAudioClose
000000.282 [APP][INFO] Decoder module: webOS SMP (smp requested)
000000.282 [APP][INFO] Audio module: ALSA (auto re

[2021-11-03 01:38] mariotaku commented on #115
I have some good news to share. After some debugging with members in moonlight discord server, we seems to be found the reason and made a fix. I'll verify and release an update.

[2021-11-03 02:21] mariotaku commented on #115
Please try [version 1.1.4](https://github.com/mariotaku/moonlight-tv/releases/tag/v1.1.4) :D

[2021-11-03 02:39] JM33 commented on #115
1.1.4 is working for me with NDL (also on automatic, which selects NDL).  Thank you very much for your help.

[2021-11-03 03:08] mariotaku commented on #115
Fantastic! I'll close after some further verification.

[2021-11-03 03:27] mariotaku commented on #92
Hi, I have released v1.1.4. Could you check if it fixed your issue?

[2021-11-03 04:04] MrPerezident commented on #115
While 1.1.4 does fix the problem for me, does anyone else have a problem with this new version taking way longer to open?

[2021-11-03 04:10] mariotaku commented on #115
Did you updated from some older version?

[2021-11-03 04:15] MrPerezident commented on #115
I tried removing it and adding again with the webOS dev manager app but it didn't fix it. It definitely cleared the data out because I had to re-pair my pc.

[2021-11-03 04:35] JM33 commented on #115
I noticed the longer startup too.  I did not have the option to update through the dev-manager directly, I downloaded and installed the file.  Updated from v1.1.3 also.

[2021-11-03 04:38] MrPerezident commented on #115
Update:  I completely disabled then uninstalled dev mode reinstalled re enabled etc. and still much slower start-up with fresh install.

[2021-11-03 04:42] MrPerezident commented on #115
Update 2 lol: It's only slow when on automatic or manually choosing NDL.   smp restores fast startup.

[2021-11-03 05:01] mariotaku commented on #115
@MrPerezident Thanks. I think this means NDL is still having some strange issues. I'll follow up and close until the launch time is acceptable. How long does it take to start by the way? Over 10 seconds?

[2021-11-03 05:09] MrPerezident commented on #115
Takes 22.60 seconds to open on my TV. way up from like a couple seconds on SDL. Is the discord server better to report things? Just wondering what's more convenient for you.

[2021-11-03 08:34] mariotaku commented on #115
GitHub should be better for issues while discord is better for general and realtime discussions.

[2021-11-03 11:44] krnlpnck commented on #115
Indeed, the 1.14 it's taking around 22 seconds to load, but it doesn't matter because NDL works now, THANK YOU VERY MUCH!

[2021-11-03 16:06] AgentT-mo commented on #92
Hi, I just tested v1.1.5, and it has the same behaviour.

[2021-11-03 18:07] MrPerezident commented on #115
can confirm here the delay is fixed with todays new 1.1.5. version.  nice work!

[2021-11-03 19:10] thehhmdb commented on #115
I've tried the 1.1.5 version and can connect again. Thanks!!!

[2021-11-04 00:33] #115 closed

[2021-11-04 20:19] arielalon1 commented on #92
Hi, same issue on v1.1.5.
LG UM7300 (WEBos 05.10.25).

On xiaomi mi box(same loction) its work fine.

[2021-11-05 02:36] mariotaku commented on #92
Could you record some video about this issue?

[2021-11-05 09:38] AgentT-mo commented on #92
Hi @mariotaku
I just wanted to record a video, but this issue is gone now.
If it comes up again I will record a video.

[2021-11-06 11:57] marvellun opened #118 "HDR NOT WORKING[BUG]"
I have enabled the SMP decoder. But the HDR doesn't seem to work. The TV doesn't goes into HDR mode. And unlinke android version where I can right click the application and click on view details to check "HDR-YES/NO", here I can't check that also. Apart from that the app is working flawlessly in 4K@120.
P.S - NDL decoder is also working properly.
 - Moonlight version: [1.1.5]
 - TV Model: [48C1PTZ

[2021-11-06 18:00] mariotaku commented on #118
HDR is a bit confusing. Is your monitor capable of HDR?

[2021-11-07 03:36] marvellun commented on #118
I tried it with with a non-HDR monitor. But the TV doesn't switch to HDR. I also tried an android box connected to the TV with moonlight running on it. It works that way. So I think my monitor is not the issue here. Have also streamed on my phone using moonlight with the same non-HDR monitor and it shows HDR is working.

[2021-11-07 09:19] mariotaku commented on #118
To use HDR you must have HDR monitor connected for the screen you're streaming. I'm testing with HDR capable monitor as well to see how it works.

[2021-11-07 16:25] mariotaku commented on #112
How does it work with recent versions? @Melonso

[2021-11-07 18:42] mariotaku opened #119 "Buttons in Error Screen Is Not Focused"

[2021-11-08 04:50] #119 closed

[2021-11-11 14:47] mariotaku opened #120 "Screenshots for v1.1.5"
![image](https://user-images.githubusercontent.com/830358/141317756-94fc8b47-ef11-4cb0-ab8e-52a92a96b60f.png)

![image](https://user-images.githubusercontent.com/830358/141317777-7ebc70b8-fa21-4f8d-bc8c-4a5cc8e1a916.png)

![image](https://user-images.githubusercontent.com/830358/141317768-42dd39ae-5852-4fb6-b153-a7aa9b58a669.png)

![image](https://user-images.githubusercontent.com/830358/141317788

[2021-11-11 14:48] #120 closed

[2021-11-14 16:09] mariotaku commented on #96
Closed due to inactivity.

[2021-11-14 16:09] #96 closed

[2021-11-15 13:13] mariotaku commented on #97
Does this still happen in recent versions?

[2021-11-15 18:51] exalented commented on #97
Yes. This still occurs in 1.2.0, but it's pretty rare and it's harder to repro.

[2021-11-16 02:40] mariotaku commented on #97
Somehow the log get truncated again and lost all stack traces. I think it's about LVGL's event system.

[2021-11-17 15:48] Melonso commented on #112
I was updating NVIDIA drivers and moonlight to newest version and on 1440p still i have nad connection (5gh wifi) earlier i Has 5-10 ms latency...

[2021-11-17 15:57] Melonso commented on #112
Little offtop you why applicatcion dissapear from tv after some time ? And still my user is kicked from Dev mode and i need to log in again

[2021-11-17 16:01] mariotaku commented on #112
I'm not sure what is the problem. You may need to change your wireless router to a band which doesn't have DFS. (see: https://en.wikipedia.org/wiki/List_of_WLAN_channels)

Dev Mode on webOS resets every 50 hours, this is annoying indeed.

[2021-11-17 16:13] mariotaku commented on #112
With [this tool](https://github.com/webosbrew/dev-manager-desktop) it will be much easier but yes.

[2021-11-20 18:22] pagratios commented on #102
Sorry for the late response,
After connected the 8bitdo to LG everything works perfectly

[2021-11-20 18:22] #102 closed

[2021-11-26 19:12] mariotaku commented on #78
One of my friend tested with his Ultrawide monitor and had similar issue. He got that fixed by outputting standard resolution like 1920x1080. Could this be the case?

[2021-11-27 03:44] SirChomby opened #124 "[BUG] TV Remote Settings button disconnects the Moonlight stream"
**Describe the bug**

During a moonlight stream the TV's remote settings button is disconnecting the stream. Because of this I can't open the TV menu UI to alter picture settings. Both the long hold and short press of the settings button result in the same behavior.

**To Reproduce**

Steps to reproduce the behavior:
1. Open Moonlight
2. Start Stream
3. Long hold or press Settings button on TV rem

[2021-11-27 14:52] #124 closed

[2021-12-02 03:57] jpstone opened #125 "Can't stream with SMP, only NDL [BUG]"
**Describe the bug**

When using webOS SMP encoder, streaming tries to connect then disconnects. NDL works fine.

**To Reproduce**

Steps to reproduce the behavior:

Force it to use webOS SMP encoder then try to launch game.

**Expected behavior**

Properly connect and stream.

**Basic information**

 - Moonlight version: 1.2.2
 - Model: LG TV webOS TV OLED65BXPUA
 - webOS version: 5.3.0

[2021-12-02 04:35] mariotaku commented on #125
NDL is the most optimal decoder while all options are for supporting more system versions. I wouldn't consider this as an issue, but something better to add to the doc instead.

[2021-12-02 04:38] jpstone commented on #125
I want HDR, which is why I want SMP.

[2021-12-02 04:42] mariotaku commented on #125
It looks like you're running webOS 5. Although I didn't get a chance to test, it seems that NDL also has HDR capability on webOS 5+. Would you like to try some testing version with HDR enabled?

[2021-12-02 04:43] jpstone commented on #125
Sure that'd be great.

[2021-12-02 05:24] mariotaku commented on #125
Yes, the change was made in v1.2.3. Please try [com.limelight.webos_1.2.3_arm.ipk](https://github.com/mariotaku/moonlight-tv/releases/download/v1.2.3-2/com.limelight.webos_1.2.3_arm.ipk) .

[2021-12-02 05:31] mariotaku commented on #97
I think this was related to some illegal memory access and might be fixed in later released. Please see if v1.2.3 and later fixed this issue.

[2021-12-02 05:49] jpstone commented on #125
Updated to 1.2.3, was able to select HDR, but Moonlight is reporting that nothing supports it when I click on "Info".

For example, shouldn't mstsc.exe support HDR, since HDR is enabled in Windows and outputting HDR to the monitor for the desktop?

[2021-12-02 06:07] jpstone commented on #125
FYI, after updating, my controller's left stick's X axis was swapped...right is left and left is right.

[2021-12-02 06:16] mariotaku commented on #125
@jpstone It should support HDR. Could you open monitor HDR settings and tick/untick to see if HDR notice is appearing on your TV screen?

[2021-12-02 06:35] mariotaku commented on #125
Also I made a release v1.2.4 for x-axis issue.

[2021-12-02 09:47] exalented commented on #97
This issue is still present in v1.2.3.

[2021-12-02 10:01] mariotaku commented on #97
I can see 2 different errors. But the second one was truncated. Which way you are using to dump debug log?

[2021-12-02 10:03] exalented commented on #97
zcat

[2021-12-04 15:22] michielproce commented on #95
I've had similar issues with my B8 OLED. I fixed it by forcing the network adapter of my host PC to use 100mbit full duplex while streaming.

[2021-12-06 07:23] Bruffandino commented on #95
I have the same issue on a A1 OLED. Forcing 100mbit on the host's ethernet adapter fixed the issue for me as well. Interestingly this also fixed frame drops I was experiencing while connecting to the same host over wifi. (wifi 5Ghz on TV connected to a wireless router, host connected by ethernet to the same router)

[2021-12-23 03:17] mariotaku commented on #125
HDR is available for NDL now, and issues mentioned above are solved.

[2021-12-23 03:17] #125 closed

[2021-12-23 03:18] #118 closed

[2021-12-23 03:21] #83 closed

[2021-12-23 03:22] mariotaku commented on #78
Closed due to inactivity.

[2021-12-23 14:43] FlyingT opened #126 "App not launching on TV"
Softwareversion: 05.05.70
Model: 55LB670V-ZA
webOS TV-Version: 1.4.0-2532 (afro-ashley)

I installed version 1.26 of Moonlight-tv using dev-manager-desktop and it worked just fine, but when launching the App on the TV it just shows the logo and nothing more. After a few minutes the app closes itself.

Using the IPK for installation results in the same problem.

[2021-12-23 14:45] mariotaku commented on #126
Do you mean, you are able to install the app, but you can't start it?

[2021-12-23 14:46] FlyingT commented on #126
Exactly

[2021-12-23 14:46] mariotaku commented on #126
You're running a really old system version, which - I never got a chance to test it. It is possible that we can make it work on your TV, but it will require you to provide some assistance. Are you familiar with Linux command, or willing to give it a shot?

[2021-12-23 14:51] FlyingT commented on #126
I have only Windows systems here, but I can give it a try. WebOS TV CLI is installed.
But I suspect the issue is the old TV I'am trying to run it on. If its too much work on your side to make it run, dont bother with it :) TV is in the same room and I could make it work with some 15m HDMI cables as an alternative

[2021-12-23 15:12] FlyingT commented on #126
[code]
Since I can get the modelName and stuff from the TV via CLI, it has to be connected. I dont get why it times out :/

[2021-12-23 15:39] mariotaku commented on #126
@FlyingT I think I have missed a parameter.
[code]

[2021-12-23 17:50] FlyingT commented on #126
[code]

[2021-12-24 06:36] mariotaku commented on #126
Good morning. Sorry I was performing the command in powershell. If you replace single quotes to double quotes, it should work.

[code]

[2021-12-24 11:31] FlyingT commented on #126
Result:
[code]

[2021-12-24 13:21] mariotaku commented on #126
@FlyingT Thank you. This is very useful information, I'm reviewing APIs now, hopefully it can work for you in future versions.

[2021-12-24 19:37] mariotaku commented on #126
@FlyingT Can you try this snapshot? https://github.com/mariotaku/moonlight-tv/actions/runs/1620042392 It's inside webos-snapshot.zip.

[2021-12-24 21:03] FlyingT commented on #126
Uninstalled 1.2.6, installed 1.2.7 using the IPK and tried launching it. Problem still persists, it shows the logo and thats it.
I did everything using the device manager for webOS.

But now it gets a bit ... interesting. After maybe 1-2 minutes showing the logo, I ran this command again:
`ares-novacom -d lgtv-moonshinetest -r "LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/media/developer/apps/usr/palm/appl

[2021-12-25 17:35] mariotaku commented on #126
Thanks for your testing. I checked through the program and theoretically the app should work on webOS 1.

https://github.com/mariotaku/moonlight-tv/releases/tag/v1.2.8

[2021-12-25 17:49] FlyingT commented on #126
And it works (or at least starts) practically too! :)
Uninstalled 1.2.7, installed 1.2.8 using the IPK and it instantly launched!

Added my System and will perform a few more tests before reporting back shortly.

[2021-12-25 17:53] mariotaku commented on #126
Fantastic. Would you mind showing me some screenshots of the UI?

[2021-12-25 19:16] FlyingT commented on #126
Seems like this TV doesnt support screenshots, so please excuse the shitty pictures: [https://imgur.com/a/Qquo225](https://imgur.com/a/Qquo225)

Game Icons arent loading and names only show up for manually added games, but thats not an issue.
TV remote works flawless too! I dont know how to get [this menu](https://user-images.githubusercontent.com/830358/141690146-27ee2564-0cc8-43ef-a5b0-54b8487dd

[2021-12-25 19:23] mariotaku commented on #126
Hi, thanks for the testing. So I think the image still doesn't work yet.

For statistics menu, you can long press back button to have that.

So the stream works right? As well as sound?

[2021-12-25 20:30] FlyingT commented on #126
Not having thumbnails is a minor issue, I just added Steam Big Picture and manage everything from there.
Statistics menu wont come up, pressing back on the TV remote is the same as if pressing Escape on the keyboard.

Stream and Sound works now, thank you very much! :)

[2021-12-25 23:23] FlyingT commented on #126
Update:
Played some Pico Park using two controllers and input lag/latency was non-noticable.
I'd say with 1.2.8 moonshine-tv is now fully working on older LG TVs

Again, thank you very much!

[2021-12-25 23:23] #126 closed

[2021-12-29 16:53] mariotaku commented on #35
Some reports about firmware 05.40.09 (webOS 4.4.0): The video is not working

[2021-12-30 17:49] DgDays opened #128 "[BUG] Lack of titles and covers of games"
**Describe the bug**

Lack of titles and covers of games

**To Reproduce**

Steps to reproduce the behavior:
1) Open Moonlight on WebOS
2) We observe that there are no titles and covers of games

**Expected behavior**

The ability to somehow distinguish between games

**Basic information**

 - Moonlight version: 1.2.8
 - Model: 55UB850V-ZA
 - webOS version 1.4.0-2337

**Additional context**

Photo

[2021-12-30 19:32] mariotaku commented on #128
I don't have TV running webOS 1 so can't test it out, does [this snapshot](https://github.com/mariotaku/moonlight-tv/actions/runs/1638539615) work for you?

[2021-12-31 03:39] DgDays commented on #128
This snapshot works for me, but there are no titles and covers yet ... The games are streaming, they are starting, but I do not understand which game I am launching before starting the stream

[2021-12-31 11:51] mariotaku commented on #128
Thanks for the info. I will make a patch to disable cover for webOS 1 temporarily, and enable it back on when this issue got solved.

[2021-12-31 16:37] mariotaku commented on #128
Please let me know if this works for you: https://github.com/mariotaku/moonlight-tv/actions/runs/1641243157

[2021-12-31 16:50] DgDays commented on #128
Yes, it works) Thank you very much

[2021-12-31 16:54] mariotaku commented on #128
I will reopen if you don't mind :)
This proves that some image can be loaded properly. So I'll try to make cover image work as well.

[2021-12-31 17:55] DgDays commented on #128
Oh good) Let's wait for the news😄

[2022-01-02 17:15] LucHermkens opened #129 "[BUG] Audio not working with webOS SMP"
**Describe the bug**

Audio is not working whatever audio backend I select when I'm using the webOS SMP video decoder. It has better performance on my TV than webOS NDL, but without audio working it has no use.

**Basic information**

 - Moonlight version: 1.2.8
 - Model: OLED65C16LA
 - webOS version: 6.2.0

[2022-01-02 17:28] LucHermkens commented on #129
New discovery, sound works fine on TV speakers but not over (e)ARC. Is there any fix for this?

[2022-01-02 17:32] mariotaku commented on #129
Are you using surround sound system? This is a long-lasting issue (see #49). In general if you are running webOS 5 or 6, NDL is preferred as it has lowest latency.

[2022-01-02 18:17] LucHermkens commented on #129
Yes I do, is there any way to circumvent the 60 FPS framerate limit for the NDL decoder?

[2022-01-02 18:37] mariotaku commented on #129
If you open Settings - About in moonlight, will you see your current refresh rate? It's your hardware limitation, and higher frame rate will not work.

[2022-01-02 19:09] LucHermkens commented on #129
It's 120 Hz, which I can easily achieve with the SMP decoder, but not with the NDL decoder. Colors seem to be worse on the latter too, with all other settings equal.

[2022-01-02 19:59] mariotaku commented on #129
I see. SMP + NDL audio is supposed to work if NDL decoder works though... NDL will lose some feature to achieve minimum latency.

[2022-01-02 20:01] LucHermkens commented on #129
I tried forcing every audio decoder but without any luck. Audio works fine over TV speakers but not over (e)ARC unfortunately, the receiver doesn't even tell me there is any audio signal.

[2022-01-02 21:01] mariotaku commented on #129
I'll add surround sound option later, so you can change and see if it works.

[2022-01-02 21:53] Informatic opened #130 "[BUG] Loading spinner artifact"
**Describe the bug**

Interesting minor artifacts in the bounding box of a loading spinner:

![capture](https://user-images.githubusercontent.com/1131102/147890389-38d68dd3-9659-40c1-be23-7177395f79d2.png)

These are static during runtime, but change on every launch. Probably some uninitialized (graphics?) memory.

**To Reproduce**

Steps to reproduce the behavior:
1. Launch moonlight-tv with alre

[2022-01-02 21:58] Informatic commented on #130
Ah, there are similar artifacts on bitrate slider:
![capture2](https://user-images.githubusercontent.com/1131102/147890489-40a8ef2e-0c5a-47a3-b2f3-65f25b8edef4.png)
...and the same after changing actuve Settings and going back to "Basic":
![capture](https://user-images.githubusercontent.com/1131102/147890499-a51e7cdd-eb79-4def-8a8a-731fb15b4131.png)

[2022-01-03 02:24] rebyul opened #131 "[BUG] NDL audio not working on webOS firmware 3.9"
**Describe the bug**

There is no audio played from the TV when the audio decoder is set to auto (NDL) or manually set to NDL.
Sound is available in ALSA and PulseAudio settings, but there is a noticeable delay in audio processing.

**To Reproduce**

Steps to reproduce the behavior:
1. Open game from Moonlight TV client
2. Notice no audio played through TV in NDL/auto audio decoder settings -or- d

[2022-01-03 05:19] mariotaku commented on #131
NDL is not supported on webOS 3 and below. Does Netcast lagacy work for you?

[2022-01-03 05:44] rebyul commented on #131
Afaik, Netcast legacy is one of the video decoder options right? Video works fine with almost no delay on NDL, it's the audio that's not working.

[2022-01-03 16:14] mariotaku commented on #130
This is very interesting. Those 2 widgets has one thing in common - they use draw mask in lvgl. I have changed its implementation in later version. How's v1.3.0?

[2022-01-07 20:21] Bruffandino opened #132 "[BUG] Mouse low polling rate and delay"
Mouse in general feels delayed, with a low refresh rate.

Using a wireless mouse with usb dongle connected to TV I measured 40Hz mouse polling rate, while other moonlight clients to the same host report 60Hz. Interestingly, with a bluetooth mouse paired to the TV I get a noticeble better performance of 50Hz polling rate.

I addition I feel some input lag, higher than with other moonlight clients.

[2022-01-07 20:35] mariotaku commented on #132
Mouse input rate is unavoidable, as webOS only reports pointer event in **shameful** 30ms interval. For gamepad it should be less than 2ms though.

[2022-01-07 21:17] Bruffandino commented on #132
I see.. do you think is possible to send the mouse raw data directly to the host?

[2022-01-08 20:31] mariotaku commented on #132
Permission model of webOS is still not clear speaking of USB access, but if an app can access such devices then it is possible. However I'm not really motivated to do that as most users are playing with gamepads.

[2022-01-08 20:58] Bruffandino commented on #132
Too bad, I'll learn how to play civilization with a gamepad then :D.
Jokes aside, thank you for the great work. I hope some more people will post here to motivate you.

[2022-01-12 20:19] dant3 opened #133 "[BUG] Failed to load apps"
**Describe the bug**

I added my PC, and then I select it it asks for PIN. After entering PIN,moonlight displays error:

[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Select a PC in moonlight
2. Enter PIN
3. See error

Whenever I restart the moonlight, or reboot the PC, the steps and the outcome are the same

**Expected behavior**

I can see games list and select one

**Basic infor

[2022-01-12 20:20] dant3 commented on #133
It works for me in moonlight on other Android-based TV

[2022-01-13 15:13] Informatic commented on #130
These look perfectly fine on 1.3.0. Thanks!

[2022-01-13 15:13] #130 closed

[2022-01-14 17:17] jorants opened #134 "Removing connections"
**Is your feature request related to a problem? Please describe.**
I can not remove an existing connection in the WebOS interface

**Describe the solution you'd like**
Some way to remove a connection that is not needed anymore.

**Describe alternatives you've considered**
-

**Additional context**
Maybe I just missed this option?
I had my PC setup but moved to another machine and now the old entry

[2022-01-15 18:28] Redherring32 commented on #110
Using the NetCast Legacy video decider, and ALSA audio backend resolved this issue for me on version 1.3.0 and WebOS 4.9.3.

[2022-01-16 17:50] AleksandrLiadov commented on #110
Thanks, now it works perfect!

[2022-01-16 17:50] #110 closed

[2022-01-16 18:06] drakenabarion opened #135 "Game Steam Freezing"
While playing the game on an RTX3080 to an LG CX, the video stream randomly freezes. Audio continues.

Settings include:
3280x2160 60FPS
60,000 allowed data transfer
SMP + HDR

Log file attached from
C:\ProgramData\NVIDIA Corporation\NvStream

I cant tell if this is a driver issue or something else. It happens mostly in God of War. Does not happen with Horizon Zero Dawn or Death Stranding, however

[2022-01-16 22:11] galloway opened #136 "Raspberry Pi undefined symbol: SDL_OpenURL (Raspbian buster)"
Installing the release package for Raspbian buster will not work due to outdated SDL packages:

To confirm your Raspbian release:

Checking dependencies of the package:

SDL_OpenURL was made available in version 2.0.14, per the [SDL Wiki](https://wiki.libsdl.org/SDL_OpenURL), and Raspbian Oldstable (buster) has 2.0.9 as the latest version, per [repology.org](https://repology.org/project/sdl2/versi

[2022-01-17 03:33] #136 closed

[2022-01-17 03:35] mariotaku commented on #136
I have pushed a patch to solve this. If you find something else not compatible with buster, feel free to tell me. Also you could try build from source by invoking `./script/raspi/easy_build.sh`

[2022-01-17 04:04] mariotaku commented on #135
Hello. Have you tried lower bitrate? webOS can't smoothly stream if bitrate too high sometimes.

[2022-01-17 04:06] mariotaku commented on #134
Removing reachable connection is not possible because unpair frame in GFE is broken. But I have added feature to remove an unreachable host. It will be available in next release. Simplify long press on a host and dialog will pop up.

[2022-01-17 19:07] drakenabarion commented on #135
Thank you for the reply. I lowered the Bitrate to 35,000k, which is the highest in the settings that does not give a warning about high bit rates.

In the last minutes of gameplay, I was getting freezing within 10-20 seconds of restarting the stream. (I would hold back on the remote, then yellow button to disconnect, then reconnect).

Here are the last two logs, if that helps.
[NvStreamerCurrent 1

[2022-01-18 16:34] mariotaku commented on #135
Hmm. Does NDL work for you?

[2022-01-18 16:55] drakenabarion commented on #135
Its the same behaviour with the freezing. Other than the colours being different it performs more or less the same, but maybe lower latency.

[2022-01-18 17:08] mariotaku commented on #135
Since you're on 3080 I don't think it's caused by performance issue. Does it happen on other clients?

[2022-01-18 17:54] drakenabarion commented on #135
I just tried Moonlight on a MiBox 4S, and it also has the issue there. So that likely rules out the WebOS version as the cause, and I guess its my PC.

<pondering emoji that I dont know how to add to this text>

[2022-01-19 01:03] mariotaku commented on #135
Got it. I'll close this issue, and if you find proper solution, feel free to post here.

[2022-01-19 01:03] #135 closed

[2022-01-19 01:16] #134 closed

[2022-01-19 15:56] mariotaku commented on #112
Happened few times during gameplay with SMP decoder. Not only the frame stopped, but it seems that the whole video thread was blocked. Needs further investigation and add some error retry/handling.

[2022-01-19 16:52] Choumpsi opened #137 "I do not understand where the lags come from"
## Basic information

 - Device model: LG OLED65C1
 - Firmware version: 03.21.05
 - webOS version: 6.2.0
 - Moonlight version: 1.4.0
 - Is audio working: Lagging with video
 - Is video working: Lagging in all resolutions
 - Is input working: Yes

## Description
Hello, I hope I'm posting at the right place !
I have Moonlight installed on my LG OLED65C1 TV, which is connected to the router via Ether

[2022-01-19 17:01] Choumpsi commented on #137
The TV is connected to the router via Ethernet, and the computer is connected via Ethernet as well.

[2022-01-19 17:09] mariotaku commented on #137
It sounds strange, but did you try to connect your PC to router via wi-fi instead?

[2022-01-19 17:10] mariotaku commented on #137
Some reports severe packet drop while on Ethernet. You can confirm by open performance stats with long pressing back button.

[2022-01-19 17:47] Choumpsi commented on #137
Yes, I tried both combinations.

For this example I have Moonlight settings on  :
-  1080p - 60FPS - 20000kbps bitrate
-  No optimization for streaming
-  Video decoder running on NDL
-  Preference for the H265 codec

In case it may help, my computer is running the game on 1080p with :
-  16GB of RAM
-  GeForce GTX 1080Ti
-  I7-8700K

Having the PC connected via wi-fi I have :
-   Network RTT of a

[2022-01-19 23:08] drakenabarion commented on #135
Disabling Hardware GPU Scheduling seems up have stopped freezing. I do see a stutter sometimes which I suspect would have otherwise have froze.

[2022-01-23 17:20] BleskBati commented on #112
First time happened today in God of War after about 10 min of playing though i'm using moonlight-tv since ~october.
Video freezed, but sound was good. Workaround - go to Home screen and back again to "Resume Streaming"

@mariotaku, if your application gathers some logs - it would be great to tell where we can get them (may be through webos-dev-manager? add a feature into app to gather logs and sav

[2022-01-24 21:14] Bruffandino commented on #137
Try forcing the host's ethernet adapter to 100Mbps. It's annoying, but it fixed the problem for me.

[2022-01-25 12:32] Overlord43g opened #138 "Crash on Stream Start"
please check the performance on lg sm8200pla. after launching the game from the TV, throws out of the moonlight

[2022-01-25 15:30] mariotaku commented on #138
Please open Settings - About page to check and provide more information to this issue:

 - Moonlight version
 - webOS version
 - Video decoder
 - Audio decoder

[2022-01-25 17:57] Overlord43g commented on #138
Version 1.4.0

Version 1.4.0
Webos 4.9.5
Video webos NDL
Audio decoder provided

[2022-01-26 01:27] mariotaku commented on #138
Try different video decoder combination:
- SMP + NDL Audio
- SMP + ALSA
- NetCast Legacy
...etc

[2022-01-26 13:05] Overlord43g commented on #138
thanks, it helped! now how to connect the controller from the xbox one?

[2022-01-26 16:14] mariotaku commented on #138
Which combination works for you?
And for xbox one controller, you can use third party wireless adapter: https://www.8bitdo.com/wireless-usb-adapter-2/

[2022-01-26 16:31] Overlord43g commented on #138
Ĺ

8bitdo will be determined by my webos 4.9.5? I got the combination
Video NDL + ALSA
netcast + ALSA works too

[2022-01-27 01:28] mariotaku commented on #138
@Overlord43g I think so. My TV is running webOS 4.9.5 too. Thanks for your info.

[2022-01-28 20:51] sander1095 opened #139 "[COMPAT] (old) Xbox One Controller and Switch Pro Controller are connected to 8bitdo wireless usb adapter in TV, but input doesn't work"
## Basic information

 - Device model: (  OLED66C9PLA )
 - Firmware version: ( 05.10.25 )
 - webOS version: ( 4.9.3 )
 - Moonlight version: ( 1.4.0)
 - Is audio working: (    Yes )
 - Is video working: (   128060 )
 - Is input working: (   NO  )

## Description
I bought an [8BitDo wireless adapter](https://www.amazon.com/dp/B0786JC6VW) so I could use my xbox one controller and switch pro controlle

[2022-01-28 20:52] sander1095 commented on #139
And another question: Is it possible to connect mouse/keyboard somehow?

[2022-01-29 05:02] mariotaku commented on #139
Hi! Xbox 360 controller works out of the box, and 8bitdo adapter v1 is supposed to work OOTB, too. I'll test on my TV to see if I can reproduce the issue.
Mouse and keyboard should work if you plug them, few things to keep in mind is that no matter how good your mouse is, webOS only supports 30ms interval natively. Also for keyboard "Windows" key is occupied so you can't use it.

[2022-01-29 12:30] sander1095 commented on #139
Please take a look at my adapters I have.
I believe I need that 8BitDo adapter for my xbox one controller and switch pro controller, and the Xbox 360 adapter for xbox 360 controller!

![IMG_20220129_132236.jpg](https://user-images.githubusercontent.com/7312681/151660933-26f5bf36-5498-4a37-aee9-310af928e988.jpg)

![IMG_20220129_132229.jpg](https://user-images.githubusercontent.com/7312681/151660932

[2022-01-29 12:38] mariotaku commented on #139
I mean with official adapter.

It depends on your webOS version. webOS 5+ has ability to pair bluetooth gamepad directly

I think it should work, it will be recognized as 2 controllers.

Which one was plugged first matters I think.

Xbox 360 adapter/controller comes with xinput, 8bitdo has xinput mode. Please check their manual.

It supports hotplug, so I think it's fine. In game is not defined th

[2022-01-29 21:05] sander1095 opened #140 "Rebind/turn off LB + RB = Virtual Mouse"
**Is your feature request related to a problem? Please describe.**
When I play a game I sometimes need to press LB + RB together. This toggles Virtual Mouse mode on and is very annoying; pressing triggers suddenly act like left/right mouse buttons, my aim starts to drift, buttons don't respond correctly.

Pressing LB+ RB again should turn it off, but this doesn't work reliably. (Xbox 360 controlle

[2022-01-29 21:10] sander1095 commented on #139
Alright, do you have any troubleshooting tips? What usb port do you have it in? How do you connect a controller?

It clearly doesn't work for me.. I could update my  firmware because an update is available, but I don't trust these updates because I am afraid it will just break more stuff. :)

I do the following:

- Turn on TV
- Plug in 8bitdo adapter in any port
- see notification about XPAD devic

[2022-01-30 00:03] sander1095 commented on #139
To add to this, my xbox 360 controller works (sometimes, like I said) but the circle LED keeps blinking during gameplay. This is rather annoying! :) I could create a seperate issue for this if you would prefer that!

[2022-02-06 21:17] cgutman opened #141 "Dynamically enter/leave HDR mode"
I've added an HDR mode callback in https://github.com/moonlight-stream/moonlight-common-c/commit/abc7acb5e4c219ebcb51031517b01bd266005e3a that lets you know when the host PC display has been switched to HDR mode.

It looks like it's just a matter of calling `NDL_DirectVideoSetHDRInfo()` in that new HDR mode callback rather than unconditionally when starting the stream. This will make sure colors a

[2022-02-08 01:50] fgielow opened #142 "[BUG] Frame often freezes during remote play"
**Describe the bug**

Image gets frozen on the screen.

**To Reproduce**

Using the WebOS client for LG TVs. Streaming with 4K res and 60fps, limited to 40MB/s with QoS enabled (Deco x60 routers should handle that). All hooked up with ethernet cables. (edit: tried going as low as 30MB/s and same issues experienced)

Issue repeats itselt consistently after about 5 minutes playing. Everything is smo

[2022-02-08 03:09] mariotaku commented on #142
Hello. Few thing might cause this issue.

1. Is it possible that your GPU is over capacity? Although RTX2080 is quite good, but stream may break if GPU usage and encoder usage reaches 100%.
2. Freezing might be caused by GPU Scheduling: https://github.com/moonlight-stream/moonlight-qt/issues/688
3. It can also be moonlight-tv specific issue. Have you tried to stream on other clients, like Android/

[2022-02-08 12:19] fgielow commented on #142
Hi, thanks for the quick reply!

1) I do not think the GPU is over capacity because it runs perfectly with high fps and no lags at all, when suddenly it halts. But I will attempt to collect better statistics on this matter later today.

2) This does seems to be the same issue! Thanks for pointing me to it. Will attempt that since it's an easy try.

3) I do have an iPad I can use for testing. Will

[2022-02-09 04:29] fgielow commented on #142
I can confirm disabling Hardware-accelerated GPU scheduling has solved this issue for me. Will reopen if the problem happens again but it seems to be sorted with that disabled.

[2022-02-09 04:29] #142 closed

[2022-02-11 07:23] sander1095 commented on #139
Hey @mariotaku :) Could you tell me when you could update me on this issue? It's not urgent; I would just like to know an estimate :D.

[2022-02-12 00:28] mariotaku commented on #139
@sander1095 Sorry I'm working on other stuff so I don't have much to update yet.

* #140 will be added in next release, and the time is not decided yet.
* Your procedure of using adapter with 8bitdo is identical to mine. I can't tell the reason for this issue, maybe it's nice to add one gamepad test screen.

I think once I get back from https://github.com/mariotaku/steamlink.py I can finish tasks

[2022-02-12 06:20] sachinpatl opened #144 "Webos 5.x bluetooth connection menu."
**Is your feature request related to a problem? Please describe.**
I have LG Web OS 05.40.26 (6360PTE) - The settings menu does not have bluetooth connectivity option at all.
**Describe the solution you'd like**
If the application could have bluetooth search and pairing mechanism for bluetooth enabled controllers / keyboard-mouse.

**Describe alternatives you've considered**

**Additional context*

[2022-02-12 09:27] #144 closed

[2022-02-13 16:21] Papabeer323 commented on #137
I had the same issue. Doing as Bruffandino said fixed it for me as well.

[2022-02-13 17:25] bmisiak opened #145 "[COMPAT] C9 + 8bitdo adapter 2 = no controller"
## Basic information

 - Device model: (   C9AUA    )
 - Firmware version: (    05.10.25   )
 - webOS version: (    4.9.3   )
 - Moonlight version: (   1.3.0    )
 - Is audio working: (    Yes   )
 - Is video working: (    1080p60   )
 - Is input working: (   No    )

## Description

I bought an 8bitdo "USB Adapter 2", the new black one. The TV does recognize a HID device but I haven't been able t

[2022-02-14 02:32] mariotaku commented on #145
There are several input mode for the adapter like Xinput mode and PS4 mode. Could you try switch between those and see if it works?

[2022-02-15 19:44] TheVexedGerman commented on #145
Seems I have the same issue though it was able to be resolved with your suggestion. I have the 8bitdo wireless adapter 2 as well. It appears that the Mac input mode works. Dunno why the xinput recommended in the wiki doesn't work though, since a wired Xbox 360 controller does work and the TV recognizes an "XPad" with the 8bitdo.

I've tried the following modes that didn't work:

- Xinput
- Dinput

[2022-02-15 23:19] sander1095 commented on #145
@TheVexedGerman @mariotaku can you tell me how you switch input mode with the 8bitdo adapter v2? I have the v1 and wonder if this is possible for me.

[2022-02-16 01:41] lily-es commented on #35
OLED48A16LA, firmware 03.21.20. Video NDL, Audio NDL. Application version 1.4.0

Got a static image of my desktop when two monitors were plugged in to the PC. Audio fine, input fine.

Attempted disabling the second monitor (Show only on monitor 1 option in windows display settings), but noticed that when i started streaming a game, the pc would turn the second monitor back on. I saw it was actuall

[2022-02-16 03:20] mariotaku commented on #145
@sander1095 It's View button (Select) + DPAD something. Please refer to the manual paper shipped with the adapter.

[2022-02-18 15:01] Martijnpold opened #146 "[BUG] Controller registering twice when disconnected during play"
**Describe the bug**

Whenever my controller gets disconnected during play (loose cable) and it is plugged back in, it is registered as a second controller on my PC. This means that the game won't function with the controller anymore without restarting, because its set as a secondary controller even though the original should no longer exist or should be marked as the same controller.

**To Reprod

[2022-02-20 12:42] lynxaegon commented on #78
I kinda have the same issue, but the color is not degrading in time, it's degraded after the first 5 seconds and it remains like that. I tried both NDL and SMP same thing happens, i only checked rocket league and it happens when i join the training.
Moonlight is over 5GHz WiFi (i can't test ethernet unfortunately)

I also have moonlight on iPad and it's working flawlessly (same wifi)

![PXL_202202

[2022-02-20 16:00] Skyyblaze opened #147 "[COMPAT]"
## Basic information

 - Device model: (OLED55B8LLA)
 - Firmware version: (05.40.26)
 - webOS version: (4.4.0)
 - Moonlight version: (1.4.0)
 - Is audio working: (Yes)
 - Is video working: (Yes but Only 1080p 120hz)
 - Is input working: (Yes)

## Description

I setup Moonlight TV for a friend on his TV and encountered a pretty bizarre issues. It will work only when set to a very specific set of se

[2022-02-20 16:15] mariotaku commented on #78
Somehow I can reproduce in chapter 2 of the game "It Takes Two". Reopening (but I don't think it can be solved.)

[2022-02-27 17:51] AndreasA commented on #142
@mariotaku So far disabling GPU scheduling seems to indeed fix this, as I noticed the same issues.
Maybe the trick regarding GPU scheduling could be added to https://github.com/moonlight-stream/moonlight-docs/wiki/Troubleshooting as another workaround too - instead of only recommending a downgrading GPU drivers?
Maybe showing a corresponding notification upon starting the app (if not yet shown) wo

[2022-03-01 03:00] alvaromunoz commented on #139
That's the V1 adapter, which is no longer compatible with XBox bluetooth controllers since September 2021. To connect your BT Xbox controllers, you would need [the V2 adapter](https://www.8bitdo.com/wireless-usb-adapter-2/).

But you can still use it to connect Switch pro controller. There's a [manual in the 8bitdo website that tells you how to sync and change modes](https://support.8bitdo.com/Man

[2022-03-03 01:44] ian-moody opened #148 "[COMPAT] 8BitDo Adapter 2 only working in PSC & MD modes."
- Device model: 55UK6090PUA
 - Firmware version:  05.45.04
 - webOS version: 4.4.1
 - Moonlight version: 1.4.0
 - Is audio working: Yes
 - Is video working: Yes
 - Is input working: No

Out of the 6 manual pairing modes, I'm able to get some response from my controller in PSC mode (VIEW + DOWN) and in MD mode (VIEW + UP + LEFT). Both these which have unacceptable mappings for my xbox one controlle

[2022-03-07 16:30] sander1095 commented on #139
I will check it out. Thanks!

My xbox one controller is at least 4+ years old, and I never consciously updated it. It has always been attached to my PC. I am not sure if I have this new firmware. Perhaps those mode changing tricks will also work on my xbox one controller.. We shall see.

[2022-03-09 23:05] joaocaparroz commented on #137
Same problem here, but my TV is a LG OLED55C1. Tested different resolutions, codecs, ethernet adapter speeds. Nothing fixed it.

[2022-03-11 22:05] FlyingT commented on #126
@mariotaku Hey man, thanks for the support on this :)
Hope my small donation brightens up your day somewhat!

[2022-03-13 11:50] GaspardMonier commented on #137
Same poblem, I also have an OLED55C1 connected to wifi 6
My PC is connected via ethernet

rtx 2070 super
ryzen 3700x
32gb ram

[2022-03-13 16:55] Martijnpold opened #149 "Add an option to disable the virtual mouse shortcut (LB + RS)"
**Is your feature request related to a problem? Please describe.**
Some games I've been playing (mostly Dark Souls and Elden Ring) use the RS for certain inputs. In this case, it's used for aim-locking. This has a pretty major side-effect where, whenever I happen to press both buttons at the same time (aim-lock + attack), virtual mouse will enable itself and the game controls very differently and

[2022-03-13 19:07] sander1095 commented on #149
Copy of #140?

[2022-03-13 23:05] Martijnpold commented on #149
Oh yeah true. I just missed it I guess. I'm looking into possibly fixing this myself and making a PR, just been a long time since I've done anything C related so getting the project to run is not easy :)

[2022-03-14 19:41] jgabriel98 opened #150 "[BUG] Raspberry pi4 (without desktop) Unable to load decoder module: libbcm_host.so.0"
**Describe the bug**

It seems that the `.deb` package have some missing dependencies (one that includes `libbcm_host.so.0` lib).

I've installed the `.deb` package on a raspberry pi4 (with its desktop ripped off), and after running `moonlight-tv`:
 - the program launches, but don't connect to the server (moonlight-embbeded and -qt works)
 - it outputs the following in terminal:
[code]

the 2º lin

[2022-03-14 22:51] jgabriel98 opened #151 "[BUG] raspiOs bullseye 64bit"
**Describe the bug**
Hello!
i'm trying to build moonlight-tv on my raspberry bullseye lite 64 bit,
and by running the script ./scripts/raspi/easy_build.sh, got this error:
[code]

**To Reproduce**

Steps to reproduce the behavior:
1. install latest raspiOs bullseye lite 64 bit on a pi4 machine
2. `git checkout v1.4.0`
3. run `./scripts/raspi/easy_build.sh`

**Basic information**

 - Moonlight TV v

[2022-03-15 01:32] mariotaku commented on #150
If you are running buster, please check:

1. If `libraspberrypi0` is installed
2. If `/opt/vc/lib/libbcm_host.so` exists
3. If `/opt/vc/lib` is in `LD_LIBRARY_PATH`

Also on buster you should better run Moonlight-TV under X.

[2022-03-26 11:40] germsb commented on #137
Same problem for me.
OLED48C1 wifi ac --> router <-- PC rj45 GbE   (250 mb/s)

rtx 3070 ti
ryzen 5800x
32gb ram

Works well over wifi.

[2022-03-30 15:35] adrianolls commented on #112
Seems the problem is related with HAGS ( Hardware Accelerated Gpu Scheduling ) and there's nothing to do with moonlight-tv.

to fix this issue and use SMP encoder, just disable HAGS on graphical settings in windows.

after this SMP encoder has been working with 2556x1440 resolution 60 fps for hours without any freeze or stuttering.

[2022-04-09 15:23] #149 closed

[2022-04-09 15:23] mariotaku commented on #149
The option has been added in v1.4.1!

[2022-04-14 16:30] ProgerAN opened #152 "Compatibility error?"
Greetings all, here's the problem

When I connect the xbox controller (via 8bitdo), the gempad is not like a gempad, but more like a mouse. Those sticks and sticks rs/ls, work as one unit and are only responsible for camera rotation.

On the plus side, as I said above the gamepad works more like a mouse, and besides the lack of any fluidity in motion, the game does not see more than half of the bu

[2022-04-14 16:38] #152 closed

[2022-04-19 18:00] kekkokk opened #153 "Half network framerate with new 1.4.1"
Hi,
I noticed that with version 1.4.1 the network framerate is displayed as half of the host framerate.

Seems a regression since 1.4.0.

However can't really tell if it's only a UI or functional bug

[2022-04-21 05:07] mariotaku commented on #153
I think this is a UI issue. The framerate presented was 1/2 of actual framerate.

[2022-04-21 05:15] mariotaku commented on #153
It seems that GFE is now sending 2 frames in one packets. So this value is not useful anymore.

[2022-04-22 08:44] kekkokk commented on #153
yeah but 1.4.0 is representing it right, even with the newest GFE, is that normal?

[2022-04-26 14:47] D3v01dZA opened #154 "[BUG] Cannot move mouse in remote desktop"
**Describe the bug**

When I use remote desktop [wiki](https://github.com/moonlight-stream/moonlight-docs/wiki/Setup-Guide#using-moonlight-to-stream-your-entire-desktop) I cannot move the mouse on the host PC. Whenever I move the mouse all that happens is that the mouse in WebOS moves over the screen and the host PC's mouse is not moved.

**To Reproduce**

Steps to reproduce the behavior:
1. Setup

[2022-04-26 14:51] mariotaku commented on #154
Hello. Did you try to connect with other clients like your phone? This can help to find out whether this is a host issue.

[2022-04-26 14:59] D3v01dZA commented on #154
I can confirm it is working from my laptop to my desktop, in fact I typed this from the laptop

[2022-04-26 15:25] #153 closed

[2022-04-26 15:26] mariotaku commented on #153
Sorry, this turns out was a mistake by me. It will be fixed in next release.

[2022-04-28 14:41] mastawilli commented on #78
Hi, Is there any update on this?

I wasnt using Moonlight via my LG since a few months now. I am having the same "rainbow" artifacts now using 1440p / 60 Hz, h.265, wired 1gbe ethernet connection with a bitrate of 35mpbs (as moonlight stated more mbit could cause problems).

I am using the newest update. I did play a lot Metroid Dread in December, I cannot remember having seen this effect back the

[2022-04-29 22:18] sander1095 commented on #139
Messing around with SELECT + UP on the Dpad and SELECT + LEFT on the dpad changed input modes, eventually working correctly. This means that the 8bitdo wireless adapter v1 is indeed supported, no need for v2 when using xbox one controller.

@mariotaku  This might be worth mentioning on the wiki :)

[2022-04-29 22:18] #139 closed

[2022-04-29 22:23] sander1095 opened #155 "[COMPAT] Noticable delay when using Xbox One Controller with 8bitdo wireless adapter v1 on LG C9"
## Basic information

 - Device model: (  OLED66C9PLA )
 - Firmware version: ( 05.10.25 )
 - webOS version: ( 4.9.3 )
 - Moonlight version: ( 1.4.1)
 - Is audio working: (    Yes )
 - Is video working: (   128060 )
 - Is input working: (   YES )

## Description
Hello!

After fixing my previous issue (#139), I now have my controller working.. but just when I ran moonlight on my Raspberry Pi, I can

[2022-05-04 13:42] kp73 opened #156 "[COMPAT] Fails to start on LG C2 42in (webOS 7 aka 22)"
## Basic information
 - Device model:  LG OLED42C24LA
 - Firmware version: 03.10.75
 - webOS version: 7.1.0-51 (mullet-maria)
 - Moonlight version: unable to check settings but latest from dev-manager-desktop as of 2022-05-03
 - Is audio working:  No
 - Is video working: No
 - Is input working: No

## Description
Moonlight fails to start.  Installed via dev-manager-desktop (other apps install OK e

[2022-05-04 14:51] mariotaku commented on #156
Does it crash on older versions?

[2022-05-04 19:02] kp73 commented on #156
Yes, same thing.  Tried 1.4.1 and 1.3.1, neither worked :(

[2022-05-04 21:51] kekkokk commented on #153
this was only graphical bug or also a performance bug? just to know

[2022-05-05 12:01] mariotaku commented on #153
It's a graphical bug. Real performance was not affected.

[2022-05-12 07:51] ILOmega commented on #156
Same Problem on my LG OLED77C26LD.
When Selecting Moonlinght app, tries to start but screen blanks then returns to webOS

[2022-05-16 19:32] olidennis commented on #156
Same issue here, on my LG OLED77C26LD. By starting the app, installed with webos-dev-manager, the screen flashes for a moment and then the developer mode opens.

[2022-05-17 01:29] mariotaku commented on #156
I see. It looks like moonlight has issue running on webOS 7. I'll extract the firmware and investigate.

[2022-05-20 01:02] jgabriel98 commented on #150
1. It is:
[code]
 2. It does not:
[code]
 3. it isn't:
[code]

[2022-05-20 01:04] jgabriel98 commented on #150
note: i've just updated this issue to pass the info.

Personaly i settled with moonlight-qt.
But i'm willing to help if you wish to investigate any futher

[2022-05-26 15:05] mariotaku commented on #156
Anyone rooted your TV, or can access its SSH via devmode? I'd like to extract libraries inside Following dirs, and take a look:

* `/lib`
* `/usr/lib`
* Directories listed in `/etc/ld.so.conf`

If you can pull files above, could you share it to me?

[2022-05-26 15:32] mariotaku commented on #155
Hey! After some time of usage, do you think the delay is about the video, or the input?

[2022-05-26 15:34] mariotaku commented on #154
Does DPAD (keyboard arrow keys), or gamepad work?

[2022-05-26 15:41] mariotaku commented on #150
I think the reason has been found. Thanks for providing the info, I completely missed that `libbcm_host.so` is in `libraspberypi-dev` only.

[2022-05-26 15:45] mariotaku commented on #150
Fixed in https://github.com/mariotaku/moonlight-tv/commit/b336e80933c76c8644ad10ce7792572e75b6fd46.

[2022-05-26 15:45] #150 closed

[2022-05-26 16:36] D3v01dZA commented on #154
I can move the mouse using the right stick by pressing the button combo required. It now looks like it usually works, sometimes when I move the mouse I get the big LG red pointer moving, and sometimes it moves the mouse. Honestly I don't really use the remote desktop, I was just playing with it to see how it all works and assess its utility.

[2022-05-26 18:14] sander1095 commented on #155
I am honestly not really sure.. the only thing i can say is that when i used my xbox one controller on my raspberry pi (with Bluetooth), it also started lagging after a while.

Now i use the xbox one controller on my tv with that 8bitdo adapter, and it also gets worse and l worse over time.

IIRC you could notice a delay in the beginning as well, though.

And I currently do not have time to test,

[2022-05-26 19:16] olidennis commented on #156
I don't have root, but I could get them via sftp.
/etc/ld.so.conf does not exist
I uploaded /lib /usr/lib and /etc to dropbox at this link https://www.dropbox.com/s/zhuq7nbn1ftllce/lgc2.zip?dl=0
Please tell me if you prefer to receive the files in a different way, apparently I cannot send them directly here.

[2022-05-27 01:23] mariotaku commented on #156
@olidennis Thank you! Dropbox is a nice way to me. I'll dump all the symbols and try to pinpoint the issue.

[2022-05-28 17:15] mariotaku commented on #156
Moonlight v1.4.4 is out, it should work on webOS 7, would you like to give it a shot?

[2022-05-29 00:21] QGB commented on #58
libhma.so sha256

e625be8374b3bf5e3b2a0e895127c138078d6a648806f5c8a32ff2ee18c905ae

[2022-05-31 09:53] ILOmega commented on #156
It works. :)

Thanks for the good work.

I want to try it out better later today.

Is it best via WIFI or Ethernet.? I noticed a little lag in the 5 min I tested it on ethernet and 1080p

[2022-05-31 11:51] mariotaku commented on #156
@ILOmega Thanks for testing :)
It should be working on both, however some reports that using gigabit ethernet port will have some lag.

[2022-06-06 16:23] olidennis commented on #156
It works well for me, both on ethernet and wifi, and I cannot notice any latency. On wifi sometimes it stops working for few seconds.
Question: is there a reason why the bitrate is limited to 65Mbps? I noticed it works flawlessly while streaming at 4k 120fps via ethernet, but I can see some compression artefacts.

[2022-06-06 20:52] kp73 commented on #156
1.4.4 works great.  Thanks so much.

[2022-06-06 20:52] #156 closed

[2022-06-07 02:43] mariotaku commented on #156
@olidennis 65Mbps is the maximum supported bitrate documented by LG.

[2022-06-07 14:56] leonardov opened #158 ""Network error happened, failed to start streaming""
Hi! I am having some issues running a gamestream.
Client: LGWebOS (Ethernet)
Moonlight version 1.4.4
Video: webOS NDL
Audio: Decoder provided

webOS version: 6.3.0

TV model: 50NANO75

Host: GFE (Wifi 5 (802.11ac) 5Ghz

The game runs on host, but the stream is never created for the client. error is "Network error happened, failed to start streaming"

from looking at the log files, I can see two re

[2022-06-07 15:08] leonardov commented on #158
I can confirm that the Client (webOS Moonlight) was able to connect to the Host via Wifi with no issues. running games and desktop.

It would be optimal to have ethernet anyways , so any feedback is appreciated.

[2022-06-07 15:49] mariotaku commented on #158
Hi, have you tried to connect your TV via Wi-Fi?

[2022-06-07 15:58] leonardov commented on #158
Yes, the stream was able to start when both TV and PC are on wifi, but results in RTT in client being too high. This confirms being an network issue, so I'll close the issue

[2022-06-07 15:58] #158 closed

[2022-06-10 08:32] HoodieHo commented on #35
Having the exact same issue - audio, controls ok, video - 1st frame of the pc. Tried different decoders/resolutions/fps in moonlight - no fix. Works fine when streaming to android.

model: 43LK5910PLC
webOS: 4.4.0-12 (goldilocks-gorce)

[2022-06-13 04:21] mariotaku commented on #141
Should be working now.

[2022-06-13 04:21] #141 closed

[2022-06-13 04:22] #140 closed

[2022-06-13 04:23] #138 closed

[2022-06-29 11:58] bluefantail commented on #137
Any update on this issue?

I hadn't used moonlight in a while but fired up the WebOS TV app tonight to have a go and ran into what I think is this problem, really laggy video that completely freezes up and displays 'Unstable video' in the top right corner. Updated to the latest moonlight version, PC video card drivers etc, and messed about with changing client decoder types and quality settings -

[2022-06-29 12:03] mariotaku commented on #137
What about a USB NIC? Not so ideal either but that's an issue that can't be solved on the app side...

[2022-06-29 12:08] bluefantail commented on #137
Ah so are you suggesting this like a know limitation? Something changed in the way NVIDIA gamestream is working on the host or something? Just confused because I've used for hours on the same hardware and now it's gone weird. I have noticed the C1 had a software update recently though as well

[2022-06-29 13:50] mariotaku commented on #137
According to some reports, LG TV have 100mb NIC and when you connect it to 1gbps NIC it will have bad performance. I'm not quite sure because I'm connecting with a 1gbps switch right now...

[2022-06-29 23:14] bluefantail commented on #137
Yeah the LG C1 only has 100 Mpbs (I think pretty standard for most or all LG TV's). I don't know enough about networking to understand why the host having a different rate would matter though

[2022-07-02 20:37] SSchott opened #160 "[BUG] Crashed on LG UM7000PLA"
## Basic information

 - Device model: (UM7000PLA)
 - Firmware version: (05.20.35)
 - webOS version: (4.9.5)
 - Moonlight version: (1.4.7)
 - Is audio working: (No)
 - Is video working: (No)
 - Is input working: (No)

## Description
I have tested the project before without major issues, I wanted to play a game in the TV again, so I reinstalled the latest version using the webOS device manager. The

[2022-07-07 15:49] Streid opened #161 "[BUG] External USB Ethernet Adapter"
**Describe the bug**

When connected to the network through an external 1gbps usb adapter, the stream does not start (black screan). Other application (Youtube, Netflix, etc) work correctly. If you connect the TV via a onboard ethernet (or WiFi) adapter, the stream works without problems.

**To Reproduce**

Steps to reproduce the behavior:
1. Start APP
2. Select game & start stream (the app sees t

[2022-07-07 16:53] Streid commented on #161
[NvStreamerCurrent.log](https://github.com/mariotaku/moonlight-tv/files/9065868/NvStreamerCurrent.log)

[2022-07-09 11:07] SSchott commented on #160
I took the time to test older version. I can confirm that 1.4.4 works fine.

[2022-07-09 11:09] mariotaku commented on #160
Thanks for the info. I'll release a new version of device manager so logs can be viewed.

[2022-07-10 16:47] mariotaku opened #162 "Merge Raspberry Pi Variant to Standard"
* Use module for force fullscreen flag

[2022-07-12 17:07] maqjav opened #163 "[BUG] Black screen with 4K"
**Describe the bug**

If I switch the resolution in Moonlight to 4K, then I get black screen with audio

**To Reproduce**

Steps to reproduce the behavior:
1. Go to Settings -> Set 3840 × 2160
2. Cast something, black screen + audio

**Expected behavior**

It should show the image too.

**Basic information**

 - Moonlight version: 1.4.7
 - Model: UK6200PLA
 - webOS version 4.4.0
 - Firmware versio

[2022-07-12 18:21] CloneIX commented on #163
Same problem here with LG C1.

Basic information

    Moonlight version: 1.4.7
    Model: OLED65C17LB
    webOS version 6.3.1
    Firmware version: 03.33.11

I also do not get any picture in 1080p only sound.

[2022-07-22 17:04] banan4phon3 opened #164 "[COMPAT] No Video on 32LK6200PLA"
## Basic information

 - Device model: ( 32LK6200PLA)
 - Firmware version: ( 05.40.26)
 - webOS version: (4.4.0-12(goldilocks-gorce))
 - Moonlight version: ( 1.4.7)
 - Is audio working: ( Yes )
 - Is video working: (Yes)
 - Is input working: ( Yes)

## Description
 After starting a game and the loading of the stream, the stream instantly freezes at the first frame and after around 10 seconds "unst

[2022-07-22 17:17] mariotaku commented on #164
This sounds like #35 .

[2022-07-23 08:57] banan4phon3 commented on #164
I tried the version 0.6.6 in hope it would work with it but didn't help, is there something elxe I can try?

[2022-07-23 09:31] mariotaku commented on #164
It's fine to replace versions directly. But I'm afraid the issue is on the TV side. This certain series can't play video properly.

[2022-07-23 23:25] banan4phon3 commented on #164
Damn that's a shame, is there any hope, that a future version could work with it?

[2022-07-24 03:54] mariotaku commented on #164
This will require someone who's both capable of making patches for moonlight and have such TV. I don't have access to this TV so it's impossible to see what's going on inside. Let's first close this issue and move discussions to #35 .

[2022-07-24 03:54] #164 closed

[2022-07-25 02:20] mariotaku commented on #94
Audio latency with NDL/NetCast API should be low enough, there's no audio API with lower latency available. I'll be closing this as outdated.

[2022-07-25 02:20] #94 closed

[2022-07-25 02:29] mariotaku commented on #86
It turns out raw HID feature was not available in GFE. I have to close this.